{# purpose of this template: locations display view #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : (routeArea == 'admin' ? 'adminBase' : 'base') %}
{% extends 'MUYourCityModule::' ~ baseTemplate ~ '.html.twig' %}
{% block pageTitle %}{{ location.name }} {% if location.street != '' %} - {{ location.street }} {% if location.numberOfStreet != '' %} {{ location.numberOfStreet }}{% endif %}{% endif %}{% if location.zipCode != '' and location.city != '' %} - {{ location.zipCode }} {{ location.city }}{% endif %} - {{ __('Auf Achse in Deiner Stadt Bremen') }}   
{% if location.descriptionForGoogle is not empty %}
    {{ pageSetVar('meta.description', location.descriptionForGoogle) }}
{% endif %}
{% endblock %}
{% block title %}
    {% set itemActions = knp_menu_get('MUYourCityModule:ItemActionsMenu:menu', [], { entity: location, area: routeArea, context: 'display' }) %}
    <div class="dropdown">
        <a id="itemActions{{ location.id }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> {{ __('Actions') }} <span class="caret"></span></a>
        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
    </div> 

{% endblock %}
{% block admin_page_icon 'eye' %}
{% block content %}
    
    {% set isQuickView = app.request.query.getBoolean('raw', false) %}
    
    <div class="muyourcitymodule-location muyourcitymodule-display">
    
    <div class="col-sm-4">
        {{ block('related_items') }}
        {% if location.owner is sameas(NULL) and location.admin1 is sameas(NULL) and location.admin2 is sameas(NULL) %}
        {{ showblockposition('leftOfLocation') }}
        {% endif %}
    </div>
    
    <div class="col-sm-8">
    <div class="row">
    <div class="col-sm-3 col-xs-5">
    <div id="location-logo">
            {% if location.logoOfYourLocation is not empty and location.logoOfYourLocationMeta|default %}
                        <a href="{{ location.logoOfYourLocationUrl }}" title="{{ location|muyourcitymodule_formattedTitle|e('html_attr') }}"{% if location.logoOfYourLocationMeta.isImage %} class="image-link"{% endif %}>
            {% if location.logoOfYourLocationMeta.isImage %}
                {% set thumbOptions = attribute(thumbRuntimeOptions, 'locationLogoOfYourLocation') %}
                <img src="{{ location.logoOfYourLocation.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ location|muyourcitymodule_formattedTitle|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail img-responsive" />
            {% else %}
                {{ __('Download') }} ({{ location.logoOfYourLocationMeta.size|muyourcitymodule_fileSize(location.logoOfYourLocation.getPathname(), false, false) }})
            {% endif %}
            </a>
            {% else %}&nbsp;{% endif %}    
    </div>
    </div>

    <div class="col-sm-9 col-xs-7">
    {% if location.state == 'closed' %}
        {% set state = 'locationClosed' %}
    {% endif %}
    {% if location.state == 'closedForEver' %}
        {% set state = 'locationForEver' %}
    {% endif %}
    {% if location.state == 'open' or location.state == 'open2' %}
        {% set state = 'locationOpen' %}
    {% endif %}
    {% if location.state == 'open2' %}
        {% set special = 'yes' %}
    {% else %}
        {% set state = 'no' %}
    {% endif %}
    {% if location.state == 'agreement' %}
        {% set state = 'locationAgreement' %}
    {% endif %}
    {% if location.state == 'unclear' %}
        {% set state = 'locationUnclear' %}
    {% endif %}
    {% if location.state == 'closedThisDay' %}
        {% set state = 'locationClosed' %}
    {% endif %}
    {% if location.state == 'openEnd' %}
        {% set state = 'locationOpenEnd' %}
    {% endif %}
    <h2><span class="status-icon {{ state }}">{% if state == 'locationUnclear' %}<i class="fa fa-circle-o-notch" aria-hidden="true"></i>{% endif %}{% if state == 'locationAgreement' or state == 'locationOpenEnd' %}<i class="fa fa-clock-o" aria-hidden="true"></i>{% endif %}{% if state == 'locationForEver' %}<i class="fa fa-circle" aria-hidden="true"></i>{% endif %}{% if state == 'locationClosed' %}<i class="fa fa-circle-o" aria-hidden="true"></i>{% endif %}{% if state == 'locationOpen' %}<i class="fa fa-circle" aria-hidden="true"></i>{% endif %}</span>
    
        {% set templateTitle = location.name %}
		{{ templateTitle|notifyFilters('muyourcitymodule.filter_hooks.locations.filter') }}{% if routeArea == 'admin' %} <small>({{ location.workflowState|muyourcitymodule_objectState(false)|lower }})</small>{% endif %}</h2>
    </div> 
    </div>   
    <div class="row">       
        <div class="col-sm-12">    
        <div class="col-sm-7">
        {% if location.workflowState is not empty and routeArea == 'admin' %}
            <dt>{{ __('State') }}</dt>
            <dd>{{ location.workflowState|muyourcitymodule_listEntry('location', 'workflowState') }}</dd>
        {% endif %}
        
        {% if location.imageOfLocation is not empty %}
        <div id="locationImage">{% if location.imageOfLocation is not empty and location.imageOfLocationMeta|default %}
                        <a href="{{ location.imageOfLocationUrl }}" title="{{ location|muyourcitymodule_formattedTitle|e('html_attr') }}"{% if location.imageOfLocationMeta.isImage %} class="image-link"{% endif %}>
            {% if location.imageOfLocationMeta.isImage %}
                {% set thumbOptions = attribute(thumbRuntimeOptions, 'locationImageOfLocation') %}
                <img src="{{ location.imageOfLocation.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ location|muyourcitymodule_formattedTitle|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail img-responsive" />
            {% else %}
                {{ __('Download') }} ({{ location.imageOfLocationMeta.size|muyourcitymodule_fileSize(location.imageOfLocation.getPathname(), false, false) }})
            {% endif %}
            </a>
            {% else %}&nbsp;{% endif %}
        </div>
        {% endif %}
        <div class="col-md-6 col-xs-6">
        <h3>{{ __('Branches') }}</h3>
        <h4>    {% if location.branches|default %}
        {{ include(
            '@MUYourCityModule/Branch/includeDisplayItemListManyOwn.html.twig',
            { items: location.branches }
        ) }}
        {% endif %}</h4>
        </div>
        
        <div class="col-md-6 col-xs-6">
        <h3>{{ __('Part') }}</h3>
        <h4>{{ location.partOfCity|muyourcitymodule_listEntry('location', 'partOfCity') }}</h4>
        </div>
        <br style="clear: both;" />
        {% if location.street is not empty %}
            {{ location.street }} 
        {% endif %}
        {% if location.numberOfStreet is not empty %}
            {{ location.numberOfStreet }}
        {% endif %}<br />
        {% if location.zipCode is not empty %}
            {{ location.zipCode }} 
        {% endif %}
        {% if location.city is not empty %}
            {{ location.city }}<br />
        {% endif %}
        {% if location.telefon is not empty %}
            {{ location.telefon }}<br />
        {% endif %}
        {% if location.mobil is not empty %}
            {{ location.mobil }}<br />
        {% endif %}
        {% if location.homepage is not empty %}
            {% if not isQuickView %}
                <a href="{{ location.homepage }}" title="{{ __('Visit this page') }}" class="fa fa-external-link-square fa-2x"></a>
            {% else %}
                {{ location.homepage }}
            {% endif %}
        {% else %}
            &nbsp;
        {% endif %}<br />
        
        {% if location.description is not empty %}
            {{ location.description|safeHtml }}<br />
        {% endif %}
            
        <h3>{{ __('Opening hours') }}</h3>
        
        {% if location.agreement == false and location.unclearTimes == false and location.closedForEver == false %}
        {% set colorMonday = '' %}
        {% set colorTuesday = '' %}
        {% set colorWednesday = '' %}
        {% set colorThursday = '' %}
        {% set colorFriday = '' %}
        {% set colorSaturday = '' %}
        {% set colorSunday = '' %}
        {% if location.realDay == 'Monday' %}
            {% if location.closedOnMonday == false and location.state != 'closed' %}
                {% set colorMonday = 'locationOpenDisplay' %}
            {% else %}
                {% set colorMonday = 'locationClosedDisplay' %}
            {% endif %}
        {% endif %}
        {% if location.realDay == 'Tuesday' %}
            {% if location.closedOnTuesday == false and location.state != 'closed' %}
                {% set colorTuesday = 'locationOpenDisplay' %}
            {% else %}
                {% set colorTuesday = 'locationClosedDisplay' %}
            {% endif %}
        {% endif %}
        {% if location.realDay == 'Wednesday' %}
            {% if location.closedOnWednesday == false and location.state != 'closed' %}
                {% set colorWednesday = 'locationOpenDisplay' %}
            {% else %}
                {% set colorWednesday = 'locationClosedDisplay' %}
            {% endif %}
        {% endif %}
        {% if location.realDay == 'Thursday' %}
            {% if location.closedOnThursday == false and location.state != 'closed' %}
                {% set colorThursday = 'locationOpenDisplay' %}
            {% else %}
                {% set colorThursday = 'locationClosedDisplay' %}
            {% endif %}
        {% endif %}
        {% if location.realDay == 'Friday' %}
            {% if location.closedOnFriday == false and location.state != 'closed' %}
                {% set colorFriday = 'locationOpenDisplay' %}
            {% else %}
                {% set colorFriday = 'locationClosedDisplay' %}
            {% endif %}
        {% endif %}
        {% if location.realDay == 'Saturday' %}
            {% if location.closedOnSaturday == false and location.state != 'closed' %}
                {% set colorSaturday = 'locationOpenDisplay' %}
            {% else %}
                {% set colorSaturday = 'locationClosedDisplay' %}
            {% endif %}
        {% endif %}
        {% if location.realDay == 'Sunday' %}
            {% if location.closedOnSunday == false and location.state != 'closed' %}
                {% set colorSunday = 'locationOpenDisplay' %}
            {% else %}
                {% set colorSunday = 'locationClosedDisplay' %}
            {% endif %}
        {% endif %}
        
        <div class="row">
        <div class="{{ colorMonday }}">
            <div class="col-md-4 col-sm-5 col-xs-6">
                {{ __('Monday') }}
            </div>
            <div class="col-md-8 col-sm-7 col-xs-6">
            {% if location.closedOnMonday == false %}
                {% if location.startOnMonday is not empty %}
                    {{ location.startOnMonday|localizeddate('none', 'short') }}   
                    {% if location.endOnMonday is not empty %}
                        - {{ location.endOnMonday|localizeddate('none', 'short') }}
                    {% else %}
                        - {{ __('Open end') }}
                    {% endif %}
                {% endif %}
                {% if location.start2OnMonday is not empty %}
                    <br />{{ location.start2OnMonday|localizeddate('none', 'short') }}             
                    {% if location.end2OnMonday is not empty %}
                       - {{ location.end2OnMonday|localizeddate('none', 'short') }}
                    {% else %}
                        - {{ __('Open end') }}
                {% endif %}
                {% endif %}
            {% else %}
                {{ __('Closed') }}
            {% endif %}
            </div>
        </div>
        </div>
        
        <div class="row">
        <div class="{{ colorTuesday }}">
            <div class="col-md-4 col-sm-5 col-xs-6">
                {{ __('Tuesday') }}
            </div>
            <div class="col-md-8 col-sm-7 col-xs-6">
            {% if location.closedOnTuesday == false %}
                {% if location.startOnTuesday is not empty %}
                {{ location.startOnTuesday|localizeddate('none', 'short') }}  
                {% if location.endOnTuesday is not empty %}
                    - {{ location.endOnTuesday|localizeddate('none', 'short') }}
                {% else %}
                    - {{ __('Open end') }}
                {% endif %}
                {% endif %}
                {% if location.start2OnTuesday is not empty %}
                    <br />{{ location.start2OnTuesday|localizeddate('none', 'short') }}
                {% if location.end2OnTuesday is not empty %}
                    - {{ location.end2OnTuesday|localizeddate('none', 'short') }}
                {% else %}
                    - {{ __('Open end') }}
                {% endif %}
                {% endif %}
            {% else %}
                {{ __('Closed') }}
            {% endif %}
            </div>
        </div>
        </div>
        
        <div class="row">
        <div class="{{ colorWednesday }}">
            <div class="col-md-4 col-sm-5 col-xs-6">
                {{ __('Wednesday') }}
            </div>
            <div class="col-md-8 col-sm-7 col-xs-6">
            {% if location.closedOnWednesday == false %}
                {% if location.startOnWednesday is not empty %}
                {{ location.startOnWednesday|localizeddate('none', 'short') }}  
                {% if location.endOnWednesday is not empty %}
                    - {{ location.endOnWednesday|localizeddate('none', 'short') }}
                {% else %}
                    - {{ __('Open end') }}
                {% endif %}
                {% endif %}
                {% if location.start2OnWednesday is not empty %}
                    <br />{{ location.start2OnWednesday|localizeddate('none', 'short') }}
                {% if location.end2OnWednesday is not empty %}
                    - {{ location.end2OnWednesday|localizeddate('none', 'short') }}
                {% else %}
                    - {{ __('Open end') }}                    
                {% endif %}
                {% endif %}                
            {% else %}
                {{ __('Closed') }}
            {% endif %}
            </div>
        </div>
        </div>
        
        <div class="row">
        <div class="{{ colorThursday }}">
            <div class="col-md-4 col-sm-5 col-xs-6">
                {{ __('Thursday') }}
            </div>
            <div class="col-md-8 col-sm-7 col-xs-6">
            {% if location.closedOnThursday == false %}
                {% if location.startOnThursday is not empty %}
                {{ location.startOnThursday|localizeddate('none', 'short') }}  
                {% if location.endOnThursday is not empty %}
                    - {{ location.endOnThursday|localizeddate('none', 'short') }}
                {% else %}
                    - {{ __('Open end') }}
                {% endif %}
                {% endif %}
                {% if location.start2OnThursday is not empty %}
                    <br />{{ location.start2OnThursday|localizeddate('none', 'short') }}
                {% if location.end2OnThursday is not empty %}
                   - {{ location.end2OnThursday|localizeddate('none', 'short') }}
                {% else %}
                    - {{ __('Open end') }}                
                {% endif %}                
                {% endif %}
            {% else %}
                {{ __('Closed') }}
            {% endif %}
            </div>
        </div>
        </div>
        
        <div class="row">
        <div class="{{ colorFriday }}">
            <div class="col-md-4 col-sm-5 col-xs-6">
                {{ __('Friday') }}
            </div>
            <div class="col-md-8 col-sm-7 col-xs-6">
            {% if location.closedOnFriday == false %}
                {% if location.startOnFriday is not empty %}
                {{ location.startOnFriday|localizeddate('none', 'short') }}  
                {% if location.endOnFriday is not empty %}
                    - {{ location.endOnFriday|localizeddate('none', 'short') }}
                {% else %}
                    - {{ __('Open end') }}
                {% endif %}
                {% endif %}
                {% if location.start2OnFriday is not empty %}
                    <br />{{ location.start2OnFriday|localizeddate('none', 'short') }}
                {% if location.end2OnFriday is not empty %}
                    - {{ location.end2OnFriday|localizeddate('none', 'short') }}
                {% else %}
                    - {{ __('Open end') }}
                {% endif %}
                {% endif %}               
            {% else %}
                {{ __('Closed') }}
            {% endif %}
            </div>
        </div>
        </div>
        
        <div class="row">
        <div class="{{ colorSaturday }}">
            <div class="col-md-4 col-sm-5 col-xs-6">
                {{ __('Saturday') }}
            </div>
            <div class="col-md-8 col-sm-7 col-xs-6">
            {% if location.closedOnSaturday == false %}
                {% if location.startOnSaturday is not empty %}
                {{ location.startOnSaturday|localizeddate('none', 'short') }}  
                {% if location.endOnSaturday is not empty %}
                    - {{ location.endOnSaturday|localizeddate('none', 'short') }}
                {% else %}
                    - {{ __('Open end') }}
                {% endif %}
                {% endif %}
                {% if location.start2OnSaturday is not empty %}
                    <br />{{ location.start2OnSaturday|localizeddate('none', 'short') }}

                {% if location.end2OnSaturday is not empty %}
                    - {{ location.end2OnSaturday|localizeddate('none', 'short') }}
                {% else %}
                    - {{ __('Open end') }}
                {% endif %}                
                {% endif %}
            {% else %}
                {{ __('Closed') }}
            {% endif %}
            </div>
        </div>
        </div>
        
        <div class="row">
        <div class="{{ colorSunday }}">
            <div class="col-md-4 col-sm-5 col-xs-6">
                {{ __('Sunday') }}
            </div>
            <div class="col-md-8 col-sm-7 col-xs-6">
            {% if location.closedOnSunday == false %}
                {% if location.startOnSunday is not empty %}
                {{ location.startOnSunday|localizeddate('none', 'short') }}  
                {% if location.endOnSunday is not empty %}
                    - {{ location.endOnSunday|localizeddate('none', 'short') }}
                {% else %}
                    - {{ __('Open end') }}
                {% endif %}
                {% endif %}
                {% if location.start2OnSunday is not empty %}
                    <br />{{ location.start2OnSunday|localizeddate('none', 'short') }}
                {% if location.end2OnSunday is not empty %}
                    - {{ location.end2OnSunday|localizeddate('none', 'short') }}
                 {% else %}
                    - {{ __('Open end') }}
                 {% endif %}               
                 {% endif %}
            {% else %}
                {{ __('Closed') }}
            {% endif %}
            </div>
            </div>
        </div>
        {% elseif location.agreement == true %}
            {{ __('Termine nach Vereinbarung') }}
        {% elseif location.unclearTimes == true %}
            {{ __('Unclear Opening Hours') }}
        {% elseif location.closedForEver == true %}
            {{ __('Closed forever') }}
        {% endif %}
        
        {% if location.openingHours is not empty %}
        <br />{{ location.openingHours }}
        {% endif %}

        {#% if location.latitude is not empty %}
            <dt>{{ __('Latitude') }}</dt>
            <dd>{{ location.latitude|muyourcitymodule_geoData }}</dd>
        {% endif %}
        {% if location.longitude is not empty %}
            <dt>{{ __('Longitude') }}</dt>
            <dd>{{ location.longitude|muyourcitymodule_geoData }}</dd>
        {% endif %#} 
        <br style="clear: both;" />

        {#{ include('@MUYourCityModule/Helper/includeStandardFieldsDisplay.html.twig', { obj: location }) }#}

        {{ block('display_hooks') }}
        </div>
        <div class="col-sm-5">
        {% if location.specialsOfLocation|default %}
            {{ include(
                '@MUYourCityModule/SpecialOfLocation/includeDisplayItemListManyOwn.html.twig',
                {items: location.specialsOfLocation}
            ) }}
        {% endif %}
            
        {% if location.servicesOfLocation|default %}
            {{ include(
                '@MUYourCityModule/ServiceOfLocation/includeDisplayItemListMany.html.twig',
                {items: location.servicesOfLocation}
            ) }}
        {% endif %}
        
        {% if location.events is not empty %}
            <h4>{{ __('Events') }}</h4>
            {% for event in location.events %}
                {{ event.name }}
            {% endfor %}
        {% endif %}
        
        {% if location.menus is not empty %}
            <h4>{{ __('Menus') }}</h4>
            {% for menu in location.menus %}
                {{ menu.name }}
            {% endfor %}
        {% endif %}
        
        {% if location.offers is not empty %}
            <h4>{{ __('Offers') }}</h4>
            {% for offer in location.offers %}
                <a href="{{ path('muyourcitymodule_offer_display', {'id': offer.id})  }}">{{ offer.name }}</a><br />
                {% if offer.percentOfOffer != '' %}
                {{ offer.percentOfOffer }}%
                {% else %}
                {{ offer.priceOfoffer|localizedcurrency('EUR')  }}
                {% endif %}
            {% endfor %}
        {% endif %}
        
        {% if location.products is not empty %}
            <h4>{{ __('Products') }}</h4>
            {% for product in location.products %}
                <a href="{{ path('muyourcitymodule_product_display', {'id': product.id}) }}">{{ product.name }}</a><br />
                {% if product.priceOfProduct %}
                {{ product.priceOfProduct|localizedcurrency('EUR')  }} 
                {% if product.priceAdditional %}
                {{ product.priceAdditional|muyourcitymodule_listEntry('product', 'priceAdditional') }}
                {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
            
        {% if location.bsagStop is not empty %}
            <h3>{{ __('Public transport') }}</h3>
            <h4>{{ location.bsagStop }}</h4>
            {% if location.tram is not empty %}
                 <span class="location-tram"><i class="fa fa-train" aria-hidden="true"></i> {{ location.tram }}</span><br />
            {% endif %}    
            {% if location.bus is not empty %}
                <span class="location-bus"><i class="fa fa-bus" aria-hidden="true"></i> {{ location.bus }}</span><br />
            {% endif %}
        {% endif %}
            
        </div>
        <br style="clear: both;" />

        {% if not isQuickView %}
        <h3 class="muyourcitymodule-map">{{ __('Map') }}</h3>
        <div id="mapContainer" class="muyourcitymodule-mapcontainer"></div>
        {% endif %}
        
        {% if location.firstFile is not empty or location.secondFile is not empty %}
        <h4>{{ __('Downloads') }}</h4>
        {% if location.firstFile is not empty %}
            <dt>{{ __('First file') }}</dt>
            <dd>{% if location.firstFile is not empty and location.firstFileMeta|default %}
                        <a href="{{ location.firstFileUrl }}" title="{{ location|muyourcitymodule_formattedTitle|e('html_attr') }}"{% if location.firstFileMeta.isImage %} class="image-link"{% endif %}>
            {% if location.firstFileMeta.isImage %}
                {% set thumbOptions = attribute(thumbRuntimeOptions, 'locationFirstFile') %}
                <img src="{{ location.firstFile.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ location|muyourcitymodule_formattedTitle|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
            {% else %}
                {{ __('Download') }} ({{ location.firstFileMeta.size|muyourcitymodule_fileSize(location.firstFile.getPathname(), false, false) }})
            {% endif %}
            </a>
            {% else %}&nbsp;{% endif %}
            </dd>
        {% endif %}
        {% if location.secondFile is not empty %}
            <dt>{{ __('Second file') }}</dt>
            <dd>{% if location.secondFile is not empty and location.secondFileMeta|default %}
                        <a href="{{ location.secondFileUrl }}" title="{{ location|muyourcitymodule_formattedTitle|e('html_attr') }}"{% if location.secondFileMeta.isImage %} class="image-link"{% endif %}>
            {% if location.secondFileMeta.isImage %}
                {% set thumbOptions = attribute(thumbRuntimeOptions, 'locationSecondFile') %}
                <img src="{{ location.secondFile.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ location|muyourcitymodule_formattedTitle|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
            {% else %}
                {{ __('Download') }} ({{ location.secondFileMeta.size|muyourcitymodule_fileSize(location.secondFile.getPathname(), false, false) }})
            {% endif %}
            </a>
            {% else %}&nbsp;{% endif %}
            </dd>
        {% endif %}
        {% endif %}
              
        </div>
        </div>
        </div>
        {#% endif %#}
    </div>

        
{% endblock %}
{% block related_items %}
    
{% endblock %}
{% block display_hooks %}
    {% set hooks = notifyDisplayHooks(eventName='muyourcitymodule.ui_hooks.locations.display_view', id=location.id, urlObject=currentUrlObject) %}
    {% for providerArea, hook in hooks if providerArea != 'provider.scribite.ui_hooks.editor' %}
        <h4>{{ providerArea }}</h4>
        {{ hook }}
    {% endfor %}
{% endblock %}
{% block footer %}
    {{ parent() }}
    {% set pathToLeaflet = zasset('@MUYourCityModule:css/style.css')|replace({'Resources/public/css/style.css': ''}) ~ 'vendor/drmonty/leaflet/' %}
    {{ pageAddAsset('stylesheet', pathToLeaflet ~ 'css/leaflet.css') }}
    {{ pageAddAsset('javascript', pathToLeaflet ~ 'js/leaflet' ~ (app.environment == 'dev' ? '' : '.min') ~ '.js') }}
    <div id="geographicalInfo" class="hidden" data-context="display" data-latitude="{{ location.latitude|muyourcitymodule_geoData }}" data-longitude="{{ location.longitude|muyourcitymodule_geoData }}" data-zoom-level="{{ getModVar('MUYourCityModule', 'defaultZoomLevel', 18) }}" data-tile-layer-url="{{ getModVar('MUYourCityModule', 'tileLayerUrl') }}" data-tile-layer-attribution="{{ getModVar('MUYourCityModule', 'tileLayerAttribution') }}"></div>
    
{% endblock %}
