{# purpose of this template: locations display view #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : (routeArea == 'admin' ? 'adminBase' : 'base') %}
{% extends 'MUYourCityModule::' ~ baseTemplate ~ '.html.twig' %}
{% block pageTitle %}{{ location|muyourcitymodule_formattedTitle|default(__('Location')) }}{% endblock %}
{% block title %}
    <div id="location-logo">
            {% if location.logoOfYourLocation is not empty and location.logoOfYourLocationMeta|default %}
                        <a href="{{ location.logoOfYourLocationUrl }}" title="{{ location|muyourcitymodule_formattedTitle|e('html_attr') }}"{% if location.logoOfYourLocationMeta.isImage %} class="image-link"{% endif %}>
            {% if location.logoOfYourLocationMeta.isImage %}
                {% set thumbOptions = attribute(thumbRuntimeOptions, 'locationLogoOfYourLocation') %}
                <img src="{{ location.logoOfYourLocation.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ location|muyourcitymodule_formattedTitle|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
            {% else %}
                {{ __('Download') }} ({{ location.logoOfYourLocationMeta.size|muyourcitymodule_fileSize(location.logoOfYourLocation.getPathname(), false, false) }})
            {% endif %}
            </a>
            {% else %}&nbsp;{% endif %}    
    </div>
    
            {% if location.imageOfLocation is not empty %}
        <div id="locationImage">{% if location.imageOfLocation is not empty and location.imageOfLocationMeta|default %}
                        <a href="{{ location.imageOfLocationUrl }}" title="{{ location|muyourcitymodule_formattedTitle|e('html_attr') }}"{% if location.imageOfLocationMeta.isImage %} class="image-link"{% endif %}>
            {% if location.imageOfLocationMeta.isImage %}
                {% set thumbOptions = attribute(thumbRuntimeOptions, 'locationImageOfLocation') %}
                <img src="{{ location.imageOfLocation.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ location|muyourcitymodule_formattedTitle|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail img-responsive" />
            {% else %}
                {{ __('Download') }} ({{ location.imageOfLocationMeta.size|muyourcitymodule_fileSize(location.imageOfLocation.getPathname(), false, false) }})
            {% endif %}
            </a>
            {% else %}&nbsp;{% endif %}
            </div>
        {% endif %}
    
    {% set templateTitle = location|muyourcitymodule_formattedTitle|default(__('Location')) %}
    {{ templateTitle|notifyFilters('muyourcitymodule.filter_hooks.locations.filter') }}{% if routeArea == 'admin' %} <small>({{ location.workflowState|muyourcitymodule_objectState(false)|lower }})</small>{% endif %}
    {% set itemActions = knp_menu_get('MUYourCityModule:ItemActionsMenu:menu', [], { entity: location, area: routeArea, context: 'display' }) %}
    <div class="dropdown">
        <a id="itemActions{{ location.id }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> {{ __('Actions') }} <span class="caret"></span></a>
        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
    </div>
{% endblock %}
{% block admin_page_icon 'eye' %}
{% block content %}
    
    {% set isQuickView = app.request.query.getBoolean('raw', false) %}
    
    <div class="muyourcitymodule-location muyourcitymodule-display">
    <div class="row">
        <div class="col-sm-8">
        
        <div class="col-sm-7">
        {% if location.workflowState is not empty and routeArea == 'admin' %}
            <dt>{{ __('State') }}</dt>
            <dd>{{ location.workflowState|muyourcitymodule_listEntry('location', 'workflowState') }}</dd>
        {% endif %}
        
        {% if location.description is not empty %}
            {{ location.description|safeHtml }}<br />
        {% endif %}

        {% if location.street is not empty %}
            {{ location.street }} 
        {% endif %}
        {% if location.numberOfStreet is not empty %}
            {{ location.numberOfStreet }}
        {% endif %}<br />
        {% if location.zipCode is not empty %}
            {{ location.zipCode }} 
        {% endif %}
        {% if location.city is not empty %}
            {{ location.city }}<br />
        {% endif %}
        {% if location.telefon is not empty %}
            {{ location.telefon }}<br />
        {% endif %}
        {% if location.mobil is not empty %}
            {{ location.mobil }}<br />
        {% endif %}
        {% if location.homepage is not empty %}
            {#{ __('Homepage') }#} 
            {% if location.homepage is not empty %}
            {% if not isQuickView %}
            <a href="{{ location.homepage }}" title="{{ __('Visit this page') }}" class="fa fa-external-link-square"></a>
            {% else %}
                {{ location.homepage }}
            {% endif %}
            {% else %}&nbsp;{% endif %}<br />
        {% endif %}
               
        <h3>{{ __('Opening hours') }}</h3>
        
        {% if location.agreement == false %}

        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-6">
                {{ __('Monday') }}
            </div>
            <div class="col-md-8 col-sm-7 col-xs-6">
            {% if location.closedOnMonday == false %}
                {{ location.startOnMonday|localizeddate('none', 'short') }} -   
                {% if location.endOnMonday is not empty %}
                    {{ location.endOnMonday|localizeddate('none', 'short') }}
                {% endif %}
                {% if location.start2OnMonday is not empty %}
                    <br />{{ location.start2OnMonday|localizeddate('none', 'short') }} -
                {% endif %}
                {% if location.end2OnMonday is not empty %}
                    {{ location.end2OnMonday|localizeddate('none', 'short') }}
                {% endif %}
            {% else %}
                {{ __('Closed') }}
            {% endif %}
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-6">
                {{ __('Tuesday') }}
            </div>
            <div class="col-md-8 col-sm-7 col-xs-6">
            {% if location.closedOnTuesday == false %}
                {{ location.startOnTuesday|localizeddate('none', 'short') }} -   
                {% if location.endOnTuesday is not empty %}
                    {{ location.endOnTuesday|localizeddate('none', 'short') }}
                {% endif %}
                {% if location.start2OnTuesday is not empty %}
                    <br />{{ location.start2OnTuesday|localizeddate('none', 'short') }} -
                {% endif %}
                {% if location.end2OnTuesday is not empty %}
                    {{ location.end2OnTuesday|localizeddate('none', 'short') }}
                {% endif %}
            {% else %}
                {{ __('Closed') }}
            {% endif %}
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4 col-xs-6">
                {{ __('Wednesday') }}
            </div>
            <div class="col-md-8 col-xs-6">
            {% if location.closedOnWednesday == false %}
                {{ location.startOnWednesday|localizeddate('none', 'short') }} -   
                {% if location.endOnWednesday is not empty %}
                    {{ location.endOnWednesday|localizeddate('none', 'short') }}
                {% endif %}
                {% if location.start2OnWednesday is not empty %}
                    <br />{{ location.start2OnWednesday|localizeddate('none', 'short') }} -
                {% endif %}
                {% if location.end2OnWednesday is not empty %}
                    {{ location.end2OnWednesday|localizeddate('none', 'short') }}
                {% endif %}
            {% else %}
                {{ __('Closed') }}
            {% endif %}
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4 col-xs-6">
                {{ __('Thursday') }}
            </div>
            <div class="col-md-8 col-xs-6">
            {% if location.closedOnThursday == false %}
                {{ location.startOnThursday|localizeddate('none', 'short') }} -   
                {% if location.endOnThursday is not empty %}
                    {{ location.endOnThursday|localizeddate('none', 'short') }}
                {% endif %}
                {% if location.start2OnThursday is not empty %}
                    <br />{{ location.start2OnThursday|localizeddate('none', 'short') }} -
                {% endif %}
                {% if location.end2OnThursday is not empty %}
                    {{ location.end2OnThursday|localizeddate('none', 'short') }}
                {% endif %}
            {% else %}
                {{ __('Closed') }}
            {% endif %}
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4 col-xs-6">
                {{ __('Friday') }}
            </div>
            <div class="col-md-8 col-xs-6">
            {% if location.closedOnFriday == false %}
                {{ location.startOnFriday|localizeddate('none', 'short') }} -   
                {% if location.endOnFriday is not empty %}
                    {{ location.endOnFriday|localizeddate('none', 'short') }}
                {% endif %}
                {% if location.start2OnFriday is not empty %}
                    <br />{{ location.start2OnFriday|localizeddate('none', 'short') }} -
                {% endif %}
                {% if location.end2OnFriday is not empty %}
                    {{ location.end2OnFriday|localizeddate('none', 'short') }}
                {% endif %}
            {% else %}
                {{ __('Closed') }}
            {% endif %}
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4 col-xs-6">
                {{ __('Saturday') }}
            </div>
            <div class="col-md-8 col-xs-6">
            {% if location.closedOnSaturday == false %}
                {{ location.startOnSaturday|localizeddate('none', 'short') }} -   
                {% if location.endOnSaturday is not empty %}
                    {{ location.endOnSaturday|localizeddate('none', 'short') }}
                {% endif %}
                {% if location.start2OnSaturday is not empty %}
                    <br />{{ location.start2OnSaturday|localizeddate('none', 'short') }} -
                {% endif %}
                {% if location.end2OnSaturday is not empty %}
                    {{ location.end2OnSaturday|localizeddate('none', 'short') }}
                {% endif %}
            {% else %}
                {{ __('Closed') }}
            {% endif %}
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4 col-xs-6">
                {{ __('Sunday') }}
            </div>
            <div class="col-md-8 col-xs-6">
            {% if location.closedOnSunday == false %}
                {{ location.startOnSunday|localizeddate('none', 'short') }} -   
                {% if location.endOnSunday is not empty %}
                    {{ location.endOnSunday|localizeddate('none', 'short') }}
                {% endif %}
                {% if location.start2OnSunday is not empty %}
                    <br />{{ location.start2OnSunday|localizeddate('none', 'short') }} -
                {% endif %}
                {% if location.end2OnSunday is not empty %}
                    {{ location.end2OnSunday|localizeddate('none', 'short') }}
                {% endif %}
            {% else %}
                {{ __('Closed') }}
            {% endif %}
            </div>
        </div>
        {% else %}
            {{ __('Termine nach Vereinbarung') }}
        {% endif %}

        {#% if location.latitude is not empty %}
            <dt>{{ __('Latitude') }}</dt>
            <dd>{{ location.latitude|muyourcitymodule_geoData }}</dd>
        {% endif %}
        {% if location.longitude is not empty %}
            <dt>{{ __('Longitude') }}</dt>
            <dd>{{ location.longitude|muyourcitymodule_geoData }}</dd>
        {% endif %#} 
        <br style="clear: both;" />

        {#{ include('@MUYourCityModule/Helper/includeStandardFieldsDisplay.html.twig', { obj: location }) }#}

        {{ block('display_hooks') }}
        </div>
        <div class="col-sm-5">
            {% if location.specialsOfLocation|default %}
            <h3>{{ __('Specials of location') }}</h3>
            {{ include(
                '@MUYourCityModule/SpecialOfLocation/includeDisplayItemListMany.html.twig',
                { items: location.specialsOfLocation }
            ) }}
            {% endif %}
            
            {% if location.servicesOfLocation|default %}
            <h3>{{ __('Services of location') }}</h3>
            {{ include(
                '@MUYourCityModule/SpecialOfLocation/includeDisplayItemListMany.html.twig',
                { items: location.servicesOfLocation }
            ) }}
            {% endif %}
            
            {% if location.bsagStop is not empty %}
                <h3>{{ __('Public transport') }}</h3>
                <h4>{{ location.bsagStop }}</h4>
                {% if location.tram is not empty %}
                    <span class="location-tram">{{ location.tram }}</span><br />
                {% endif %}
        
                {% if location.bus is not empty %}
                    <span class="location-tram">{{ location.bus }}</span><br />
                {% endif %}
            {% endif %}
            
        </div>
        <br style="clear: both;" />

        <h3 class="muyourcitymodule-map">{{ __('Map') }}</h3>
        <div id="mapContainer" class="muyourcitymodule-mapcontainer"></div>
        
        <div class="col-md-12">    
            {% if location.filesOfLocation|default %}
                {% if routeArea == 'admin' %}
                    <h4>{{ __('Files of location') }}</h4>
                {% else %}
                   <h3>{{ __('Files of location') }}</h3>
                {% endif %}
                {{ include(
                    '@MUYourCityModule/FileOfLocation/includeDisplayItemListMany.html.twig',
                    { items: location.filesOfLocation }
                ) }}
            {% endif %}        
        </div>
              
        </div>
        <div class="col-sm-4">
            {{ block('related_items') }}
        </div>

        </div>
        {#% endif %#}
    </div>

        
{% endblock %}
{% block related_items %}
    {% if routeArea == 'admin' %}
        <h4>{{ __('Images of location') }}</h4>
    {% else %}
        <h3>{{ __('Images of location') }}</h3>
    {% endif %}
    
    {% if location.imagesOfLocation|default %}
        {{ include(
            '@MUYourCityModule/ImageOfLocation/includeDisplayItemListMany.html.twig',
            { items: location.imagesOfLocation }
        ) }}
    {% endif %}
    
    {% set mayManage = hasPermission('MUYourCityModule:ImageOfLocation:', '::', 'ACCESS_EDIT') %}
    {% if mayManage %}
        <p class="managelink">
            {% set createTitle = __('Create image of location') %}
            <a href="{{ path('muyourcitymodule_imageoflocation_' ~ routeArea ~ 'edit', { location: location.id }) }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
        </p>
    {% endif %}
    
    {% set mayManage = hasPermission('MUYourCityModule:FileOfLocation:', '::', 'ACCESS_EDIT') %}
    {% if mayManage %}
        <p class="managelink">
            {% set createTitle = __('Create file of location') %}
            <a href="{{ path('muyourcitymodule_fileoflocation_' ~ routeArea ~ 'edit', { location: location.id }) }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
        </p>
    {% endif %}
    {% if routeArea == 'admin' %}
        <h4>{{ __('Branch') }}</h4>
    {% else %}
        <h3>{{ __('Branch') }}</h3>
    {% endif %}
    
    {% if location.branches|default %}
        {{ include(
            '@MUYourCityModule/Branch/includeDisplayItemListMany.html.twig',
            { items: location.branches }
        ) }}
    {% endif %}
    
    {% set mayManage = hasPermission('MUYourCityModule:Branch:', '::', 'ACCESS_EDIT') %}
    {% if mayManage %}
        <p class="managelink">
            {% set createTitle = __('Create branch') %}
            <a href="{{ path('muyourcitymodule_branch_' ~ routeArea ~ 'edit', { locations: location.id }) }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
        </p>
    {% endif %}
    {% if routeArea == 'admin' %}
        <h4>{{ __('Part') }}</h4>
    {% else %}
        <h3>{{ __('Part') }}</h3>
    {% endif %}
    
    {% if location.parts|default %}
        {{ include(
            '@MUYourCityModule/Part/includeDisplayItemListMany.html.twig',
            { items: location.parts }
        ) }}
    {% endif %}
    
    {% set mayManage = hasPermission('MUYourCityModule:Part:', '::', 'ACCESS_EDIT') %}
    {% if mayManage %}
        <p class="managelink">
            {% set createTitle = __('Create part') %}
            <a href="{{ path('muyourcitymodule_part_' ~ routeArea ~ 'edit', { locations: location.id }) }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
        </p>
    {% endif %}
    {% if routeArea == 'admin' %}
        <h4>{{ __('Offers') }}</h4>
    {% else %}
        <h3>{{ __('Offers') }}</h3>
    {% endif %}
    
    {% if location.offers|default %}
        {{ include(
            '@MUYourCityModule/Offer/includeDisplayItemListMany.html.twig',
            { items: location.offers }
        ) }}
    {% endif %}
    
    {% set mayManage = hasPermission('MUYourCityModule:Offer:', '::', 'ACCESS_EDIT') %}
    {% if mayManage %}
        <p class="managelink">
            {% set createTitle = __('Create offer') %}
            <a href="{{ path('muyourcitymodule_offer_' ~ routeArea ~ 'edit', { location: location.id }) }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
        </p>
    {% endif %}
    
        {% if routeArea == 'admin' %}
        <h4>{{ __('Menus of location') }}</h4>
    {% else %}
        <h3>{{ __('Menus of location') }}</h3>
    {% endif %}
    
    {% if location.menuOfLocation|default %}
        {{ include(
            '@MUYourCityModule/MenuOfLocation/includeDisplayItemListMany.html.twig',
            { items: location.menuOfLocation }
        ) }}
    {% endif %}
    
    {% set mayManage = hasPermission('MUYourCityModule:MenuOfLocation:', '::', 'ACCESS_EDIT') %}
    {% if mayManage %}
        <p class="managelink">
            {% set createTitle = __('Create menu of location') %}
            <a href="{{ path('muyourcitymodule_menuoflocation_' ~ routeArea ~ 'edit', { location: location.id }) }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
        </p>
    {% endif %}
    {% if routeArea == 'admin' %}
        <h4>{{ __('Events') }}</h4>
    {% else %}
        <h3>{{ __('Events') }}</h3>
    {% endif %}
    
    {% if location.events|default %}
        {{ include(
            '@MUYourCityModule/Event/includeDisplayItemListMany.html.twig',
            { items: location.events }
        ) }}
    {% endif %}
    
    {% set mayManage = hasPermission('MUYourCityModule:Event:', '::', 'ACCESS_EDIT') %}
    {% if mayManage %}
        <p class="managelink">
            {% set createTitle = __('Create event') %}
            <a href="{{ path('muyourcitymodule_event_' ~ routeArea ~ 'edit', { location: location.id }) }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
        </p>
    {% endif %}
    {% if routeArea == 'admin' %}
        <h4>{{ __('Products') }}</h4>
    {% else %}
        <h3>{{ __('Products') }}</h3>
    {% endif %}
    
    {% if location.products|default %}
        {{ include(
            '@MUYourCityModule/Product/includeDisplayItemListMany.html.twig',
            { items: location.products }
        ) }}
    {% endif %}
    
    {% set mayManage = hasPermission('MUYourCityModule:Product:', '::', 'ACCESS_EDIT') %}
    {% if mayManage %}
        <p class="managelink">
            {% set createTitle = __('Create product') %}
            <a href="{{ path('muyourcitymodule_product_' ~ routeArea ~ 'edit', { location: location.id }) }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
        </p>
    {% endif %}
    {% if routeArea == 'admin' %}
        <h4>{{ __('Dishes') }}</h4>
    {% endif %}
    
    {% if location.dishes|default and routeArea == 'admin' %}
        {{ include(
            '@MUYourCityModule/Dish/includeDisplayItemListMany.html.twig',
            { items: location.dishes }
        ) }}
    {% endif %}
    
    {% set mayManage = hasPermission('MUYourCityModule:Dish:', '::', 'ACCESS_EDIT') %}
    {% if mayManage %}
        <p class="managelink">
            {% set createTitle = __('Create dish') %}
            <a href="{{ path('muyourcitymodule_dish_' ~ routeArea ~ 'edit', { location: location.id }) }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
        </p>
    {% endif %}
    
{% endblock %}
{% block display_hooks %}
    {% set hooks = notifyDisplayHooks(eventName='muyourcitymodule.ui_hooks.locations.display_view', id=location.id, urlObject=currentUrlObject) %}
    {% for providerArea, hook in hooks if providerArea != 'provider.scribite.ui_hooks.editor' %}
        <h4>{{ providerArea }}</h4>
        {{ hook }}
    {% endfor %}
{% endblock %}
{% block footer %}
    {{ parent() }}
    {{ pageAddAsset('javascript', 'https://maps.google.com/maps/api/js?key=' ~ getModVar('MUYourCityModule', 'googleMapsApiKey', '') ~ '&amp;language=' ~ app.request.locale ~ '&amp;sensor=false') }}
    {{ pageAddAsset('javascript', app.request.basePath ~ '/plugins/Mapstraction/lib/vendor/mxn/mxn.js?(googlev3)') }}
    {% set geoScripts %}
        <script type="text/javascript">
        /* <![CDATA[ */
            ( function($) {
                $(document).ready(function() {
                    mUYourCityInitGeographicalDisplay({{ location.latitude|muyourcitymodule_geoData }}, {{ location.longitude|muyourcitymodule_geoData }}, '{{ getModVar('MUYourCityModule', 'defaultMapType', 'roadmap') }}', {{ getModVar('MUYourCityModule', 'defaultZoomLevel', 18) }})
                });
            })(jQuery);
        /* ]]> */
        </script>
    {% endset %}
    {{ pageAddAsset('footer', geoScripts) }}
{% endblock %}
