{# purpose of this template: inclusion template for display of related locations #}
{% set hasAdminPermission = hasPermission('MUYourCityModule:Location:', '::', 'ACCESS_COMMENT') %}


    <div class="col-md-2">
        {% if item.logoOfYourLocation is not empty and item.logoOfYourLocationMeta.isImage %}
            <img src="{{ item.logoOfYourLocation.getPathname()|imagine_filter('zkroot', relationThumbRuntimeOptions) }}" alt="{{ item|muyourcitymodule_formattedTitle|e('html_attr') }}" width="{{ relationThumbRuntimeOptions.thumbnail.size[0] }}" height="{{ relationThumbRuntimeOptions.thumbnail.size[1] }}" class="img-rounded" />
        {% endif %}
    </div>
    <div class="col-md-10 location-h2">
        <h2><a href="{{ path('muyourcitymodule_location_' ~ routeArea ~ 'display', { 'id': item.id, 'slug': item.slug }) }}" title="{{ __('View detail page')|e('html_attr') }}">{{ item|muyourcitymodule_formattedTitle }}</a></h2>
    </div><br style="clear: both;" />

{% if item.menuOfLocation|default and showMenus == true %}
    <h2>{{ __('Menus') }}</h2>
    {% for menu in item.menuOfLocation %}
    {% if menu|length <= 4 %}
        <div class="col-md-12 abo-location-list">
    {% else %}
        <div class="col-md-6 abo-location-list">
    {% endif %}
        {{ include(
        '@MUYourCityModule/MenuOfLocation/includeDisplayItemListOneOwn.html.twig',
            { item: menu }
        ) }}
        </div>
    {% endfor %}
    <br style="clear: both;" />
{% endif %}

{% if item.offers|default and showOffers == true %}
    <h2>{{ __('Offers') }}</h2>
    {% for offer in item.offers %}
    {% if item.offers|length <= 4 %}
        <div class="col-md-12 abo-location-list">
    {% else %}
        <div class="col-md-6 abo-location-list">
    {% endif %}
        {{ include(
        '@MUYourCityModule/Offer/includeDisplayItemListOneOwn.html.twig',
            { item: offer }
        ) }}
        </div>
    {% endfor %}
        <br style="clear: both;" />
{% endif %}

{% if item.events|default and showEvents == true %}
    <h2>{{ __('Events') }}</h2>
    {% for event in item.events %}
    <div class="col-md-6 abo-location-list">
        {{ include(
            '@MUYourCityModule/Event/includeDisplayItemListOneOwn.html.twig',
                { item: event }
            ) }}
    </div>
    {% endfor %}
    <br style="clear: both;" />
{% endif %}

{% if item.products|default and showProducts == true %}
    <h2>{{ __('Products') }}</h2>
    {% for product in item.products %}
    {% if item.products|length <= 4 %}
        <div class="col-md-6 abo-location-list">
    {% else %}
        <div class="col-md-4 abo-location-list">
    {% endif %}
        {{ include(
        '@MUYourCityModule/Product/includeDisplayItemListOneOwn.html.twig',
            { item: product }
        ) }}
        </div>
    {% endfor %}
{% endif %}

