{# purpose of this template: locations view kml view #}
<?xml version="1.0" encoding="UTF-8"?>
<kml xmlns="http://www.opengis.net/kml/2.2" xmlns:gx="http://www.google.com/kml/ext/2.2">
<Document>
{% for location in items %}
    <Placemark>
        <name>{{ location.getName() }}</name>
        <description><![CDATA[{{ location.getDescription() }}<br /><a href="{{ url('muyourcitymodule_location_display', { 'slug': location.slug }) }}">{{ __('Details') }}</a>]]></description>
        <Point>
            <coordinates>{{ location.getLongitude() }}, {{ location.getLatitude() }}, 0</coordinates>
        </Point>
    </Placemark>
{% endfor %}
</Document>
</kml>
