{# Purpose of this template: Display one certain product within an external context #}
{{ pageAddAsset('javascript', asset('magnific-popup/jquery.magnific-popup.min.js')) }}
{{ pageAddAsset('stylesheet', asset('magnific-popup/magnific-popup.css')) }}
{{ pageAddAsset('javascript', zasset('@MUYourCityModule:js/MUYourCityModule.js')) }}
<div id="product{{ product.getKey() }}" class="muyourcitymodule-external-product">
{% if displayMode == 'link' %}
    <p class="muyourcitymodule-external-link">
    <a href="{{ path('muyourcitymodule_product_display', {'id': product.getId()}) }}" title="{{ product|muyourcitymodule_formattedTitle|e('html_attr') }}">
    {{ product|muyourcitymodule_formattedTitle|notifyFilters('yourcity.filter_hooks.products.filter')|safeHtml }}
    </a>
    </p>
{% endif %}
{% if hasPermission('MUYourCityModule::', '::', 'ACCESS_EDIT') %}
    {# for normal users without edit permission show only the actual file per default #}
    {% if displayMode == 'embed' %}
        <p class="muyourcitymodule-external-title">
            <strong>{{ product|muyourcitymodule_formattedTitle|notifyFilters('yourcity.filter_hooks.products.filter')|safeHtml }}</strong>
        </p>
    {% endif %}
{% endif %}

{% if displayMode == 'link' %}
{% elseif displayMode == 'embed' %}
    <div class="muyourcitymodule-external-snippet">
        {% if product.imageOfProduct is not empty and product.imageOfProductMeta|default %}
                    <a href="{{ product.imageOfProductUrl }}" title="{{ product|muyourcitymodule_formattedTitle|e('html_attr') }}"{% if product.imageOfProductMeta.isImage %} class="image-link"{% endif %}>
        {% if product.imageOfProductMeta.isImage %}
            {% set thumbOptions = attribute(thumbRuntimeOptions, 'productImageOfProduct') %}
            <img src="{{ product.imageOfProduct.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ product|muyourcitymodule_formattedTitle|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
        {% else %}
            {{ __('Download') }} ({{ product.imageOfProductMeta.size|muyourcitymodule_fileSize(product.imageOfProduct.getPathname(), false, false) }})
        {% endif %}
        </a>
        {% else %}&nbsp;{% endif %}
    </div>

    {# you can distinguish the context like this: #}
    {# % if source == 'contentType' %}
        ...
    {% elseif source == 'scribite' %}
        ...
    {% endif % #}

    {# you can enable more details about the item: #}
    {#
        <p class="muyourcitymodule-external-description">
            {% if product.description is not empty %}{{ product.description }}<br />{% endif %}
        </p>
    #}
{% endif %}
</div>
