{# Purpose of this template: Display item information for previewing from other modules #}
<dl id="product{{ product.getKey() }}">
<dt>{{ product|muyourcitymodule_formattedTitle|notifyFilters('yourcity.filter_hooks.products.filter')|safeHtml }}</dt>
<dd>{% if product.imageOfProduct is not empty and product.imageOfProductMeta|default %}
            <a href="{{ product.imageOfProductUrl }}" title="{{ product|muyourcitymodule_formattedTitle|e('html_attr') }}"{% if product.imageOfProductMeta.isImage %} class="image-link"{% endif %}>
{% if product.imageOfProductMeta.isImage %}
    {% set thumbOptions = attribute(thumbRuntimeOptions, 'productImageOfProduct') %}
    <img src="{{ product.imageOfProduct.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ product|muyourcitymodule_formattedTitle|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
{% else %}
    {{ __('Download') }} ({{ product.imageOfProductMeta.size|muyourcitymodule_fileSize(product.imageOfProduct.getPathname(), false, false) }})
{% endif %}
</a>
{% else %}&nbsp;{% endif %}
</dd>
{% if product.description is not empty %}<dd>{{ product.description }}</dd>{% endif %}
</dl>
