{# Purpose of this template: Display products within an external context #}
<dl>
    {% for product in items %}
        <dt>{{ product|muyourcitymodule_formattedTitle }}</dt>
        {% if product.description %}
            <dd>{{ product.description|striptags|truncate(200, true, '&hellip;') }}</dd>
        {% endif %}
        <dd><a href="{{ path('muyourcitymodule_product_display', {  }) }}">{{ __('Read more') }}</a>
        </dd>
    {% else %}
        <dt>{{ __('No entries found.') }}</dt>
    {% endfor %}
</dl>
