{# Purpose of this template: Display files of location within an external context #}
<dl>
    {% for fileOfLocation in items %}
        <dt>{{ fileOfLocation|muyourcitymodule_formattedTitle }}</dt>
        {% if fileOfLocation.description %}
            <dd>{{ fileOfLocation.description|striptags|truncate(200, true, '&hellip;') }}</dd>
        {% endif %}
        <dd><a href="{{ path('muyourcitymodule_fileoflocation_display', {  }) }}">{{ __('Read more') }}</a>
        </dd>
    {% else %}
        <dt>{{ __('No entries found.') }}</dt>
    {% endfor %}
</dl>
