{# Purpose of this template: Display events within an external context #}
<dl>
    {% for event in items %}
        <dt>{{ event|muyourcitymodule_formattedTitle }}</dt>
        {% if event.description %}
            <dd>{{ event.description|striptags|truncate(200, true, '&hellip;') }}</dd>
        {% endif %}
        <dd><a href="{{ path('muyourcitymodule_event_display', {'id': event.getId()}) }}" title="{{ __('Read more')|e('html_attr') }}">{{ __('Read more') }}</a>
        </dd>
    {% else %}
        <dt>{{ __('No entries found.') }}</dt>
    {% endfor %}
</dl>
