{# Purpose of this template: Display locations within an external context #}
<dl>
    {% for location in items %}
        <dt>{{ location|muyourcitymodule_formattedTitle }}</dt>
        {% if location.description %}
            <dd>{{ location.description|striptags|truncate(200, true, '&hellip;') }}</dd>
        {% endif %}
        <dd><a href="{{ path('muyourcitymodule_location_display', {'slug': location.slug}) }}" title="{{ __('Read more')|e('html_attr') }}">{{ __('Read more') }}</a>
        </dd>
    {% else %}
        <dt>{{ __('No entries found.') }}</dt>
    {% endfor %}
</dl>
