{# Purpose of this template: Display offers within an external context #}
<dl>
    {% for offer in items %}
        <dt>{{ offer|muyourcitymodule_formattedTitle }}</dt>
        {% if offer.text %}
            <dd>{{ offer.text|striptags|truncate(200, true, '&hellip;') }}</dd>
        {% endif %}
        <dd><a href="{{ path('muyourcitymodule_offer_display', { 'id': offer.id }) }}">{{ __('Read more') }}</a>
        </dd>
    {% else %}
        <dt>{{ __('No entries found.') }}</dt>
    {% endfor %}
</dl>
