{# Purpose of this template: Display offers within an external context #}
<dl>
    {% for offer in items %}
        <dt>{{ offer|muyourcitymodule_formattedTitle }}</dt>
        {% if offer.description %}
            <dd>{{ offer.description|striptags|truncate(200, true, '&hellip;') }}</dd>
        {% endif %}
        <dd><a href="{{ path('muyourcitymodule_offer_display', {'id': offer.getId()}) }}" title="{{ __('Read more')|e('html_attr') }}">{{ __('Read more') }}</a>
        </dd>
    {% else %}
        <dt>{{ __('No entries found.') }}</dt>
    {% endfor %}
</dl>
