{# Purpose of this template: Display one certain branch within an external context #}
{{ pageAddAsset('javascript', asset('magnific-popup/jquery.magnific-popup.min.js')) }}
{{ pageAddAsset('stylesheet', asset('magnific-popup/magnific-popup.css')) }}
{{ pageAddAsset('javascript', zasset('@MUYourCityModule:js/MUYourCityModule.js')) }}
<div id="branch{$branch->getKey()}" class="muyourcitymodule-external-branch">
{% if displayMode == 'link' %}
    <p class="muyourcitymodule-external-link">
    <a href="{{ path('muyourcitymodule_branch_display', {  }) }}" title="{{ branch|muyourcitymodule_formattedTitle|e('html_attr') }}">
    {{ branch|muyourcitymodule_formattedTitle|notifyFilters('yourcity.filter_hooks.branches.filter')|safeHtml }}
    </a>
    </p>
{% endif %}
{% if hasPermission('MUYourCityModule::', '::', 'ACCESS_EDIT') %}
    {# for normal users without edit permission show only the actual file per default #}
    {% if displayMode == 'embed' %}
        <p class="muyourcitymodule-external-title">
            <strong>{{ branch|muyourcitymodule_formattedTitle|notifyFilters('yourcity.filter_hooks.branches.filter')|safeHtml }}</strong>
        </p>
    {% endif %}
{% endif %}

{% if displayMode == 'link' %}
{% elseif displayMode == 'embed' %}
    <div class="muyourcitymodule-external-snippet">
        {% if branch.imageOfBranch is not empty and branch.imageOfBranchMeta|default %}
                    <a href="{{ branch.imageOfBranchUrl }}" title="{{ branch|muyourcitymodule_formattedTitle|e('html_attr') }}"{% if branch.imageOfBranchMeta.isImage %} class="image-link"{% endif %}>
        {% if branch.imageOfBranchMeta.isImage %}
            {% set thumbOptions = attribute(thumbRuntimeOptions, 'branchImageOfBranch') %}
            <img src="{{ branch.imageOfBranch.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ branch|muyourcitymodule_formattedTitle|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
        {% else %}
            {{ __('Download') }} ({{ branch.imageOfBranchMeta.size|muyourcitymodule_fileSize(branch.imageOfBranch.getPathname(), false, false) }})
        {% endif %}
        </a>
        {% else %}&nbsp;{% endif %}
    </div>

    {# you can distinguish the context like this: #}
    {# % if source == 'contentType' %}
        ...
    {% elseif source == 'scribite' %}
        ...
    {% endif % #}

    {# you can enable more details about the item: #}
    {#
        <p class="muyourcitymodule-external-description">
            {% if branch.description is not empty %}{{ branch.description }}<br />{% endif %}
        </p>
    #}
{% endif %}
</div>
