{# Purpose of this template: Display item information for previewing from other modules #}
<dl id="branch{{ branch.getKey() }}">
<dt>{{ branch|muyourcitymodule_formattedTitle|notifyFilters('yourcity.filter_hooks.branches.filter')|safeHtml }}</dt>
<dd>{% if branch.imageOfBranch is not empty and branch.imageOfBranchMeta|default %}
            <a href="{{ branch.imageOfBranchUrl }}" title="{{ branch|muyourcitymodule_formattedTitle|e('html_attr') }}"{% if branch.imageOfBranchMeta.isImage %} class="image-link"{% endif %}>
{% if branch.imageOfBranchMeta.isImage %}
    {% set thumbOptions = attribute(thumbRuntimeOptions, 'branchImageOfBranch') %}
    <img src="{{ branch.imageOfBranch.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ branch|muyourcitymodule_formattedTitle|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
{% else %}
    {{ __('Download') }} ({{ branch.imageOfBranchMeta.size|muyourcitymodule_fileSize(branch.imageOfBranch.getPathname(), false, false) }})
{% endif %}
</a>
{% else %}&nbsp;{% endif %}
</dd>
{% if branch.description is not empty %}<dd>{{ branch.description }}</dd>{% endif %}
</dl>
