{# purpose of this template: specials of location view csv view #}
{% spaceless %}"{{ __('Name') }}";"{{ __('Description for google') }}";"{{ __('Description') }}";"{{ __('Icon for special') }}";"{{ __('Color of icon') }}";"{{ __('Workflow state') }}"
{% endspaceless %}
{% for specialOfLocation in items %}
{% spaceless %}
    "{{ specialOfLocation.name }}";"{{ specialOfLocation.descriptionForGoogle }}";"{{ specialOfLocation.description|safeHtml }}";"{{ specialOfLocation.iconForSpecial }}";"<span class="label label-default" style="background-color: {{ specialOfLocation.colorOfIcon|e('html_attr') }}">{{ specialOfLocation.colorOfIcon }}</label>";"{{ specialOfLocation.workflowState|muyourcitymodule_objectState(false)|lower }}"
{% endspaceless %}
{% endfor %}
