{# Purpose of this template: Display items within a block (fallback template) #}

{% set lang = app.request.locale %}
<div id="Carousel{{ vars.bid }}" class="carousel slide">
    <div class="carousel-inner">
    {% if objectType == 'location' %}
        {% for location in items %}
            {% if loop.index == 1 %}
                <div class="item active">
            {% else %}
                <div class="item">
            {% endif %}
            <div class="item-container"> 
            <h3>{{ location.name }}</h3>

            <div class="row">
            <div class="col-md-6 col-xs-6 col-sm-6">
            {% if location.branches|default %}
            {% if lang == 'en' %}
            <h4>{{ __('Branches') }}</h4>
            {% endif %}
            {% if lang == 'de' %}
            <h4>{{ __('Branchen') }}</h4>
            {% endif %}
                {% for branch in location.branches %}
                    {{ branch.name }}
                {% endfor %}
            {% endif %}
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6">
            {% if lang == 'en' %}
            <h4>{{ __('Part') }}</h4>
            {% endif %}
            {% if lang == 'de' %}
            <h4>{{ __('Stadtteil') }}</h4>
            {% endif %}
            {{ location.partOfCity|muyourcitymodule_listEntry('location', 'partOfCity') }}
            </div>
            </div>
            <div class="placeholder">
            <img src="/themes/Bootstrap2Theme/Resources/public/images/placeholder.png" /></div>
            {{ location.description|truncate(100) }}<br />

            {% if vars.sorting != 'random' %}

            {% endif %}
    
            <a href="{{ path('muyourcitymodule_location_display', { 'id': location.id, 'slug': location.slug }) }}" class="btn btn-danger btn-sm" href="#" role="button">{% if lang == 'en' %}{{ __('More about') }}{% endif %}{% if lang == 'de' %}Mehr &uuml;ber{% endif %} {{ location.name }}</a>
            </div>
            </div>
        {% endfor %}
    {% endif %}
    
    {% if objectType == 'menuOfLocation' %}
        {% if items[0] is defined %}
            {% for menu in items %}
            {% if loop.index == 1 %}
                <div class="item active">
            {% else %}
                <div class="item">
            {% endif %}
            <div class="item-container"> 
            <div class="menuItem">
                {{ menu.name }}
            </div>
            </div>
            </div>
            {% endfor %}
        {% else %}
            <h4>{{ __('No menus available at this moment') }}</h4>
            {{ __('Use the possibility to present your menus on a central platform!') }}   
        {% endif %}
    {% endif %}
    
    {% if objectType == 'offer' %}
        {#% if items is same as(true) %#}
        {% for offer in items %}
            {% if loop.index == 1 %}
                <div class="item active">
            {% else %}
                <div class="item">
            {% endif %}
            <div class="item-container"> 
            <div class="offerItem">
            <h2>{{ offer.name }}</h2>
            {% if offer.percentOfOffer == 0 %}
                {% if offer.priceOfOffer > 0 %}
                {% if lang == 'en' %}
                    <h3>{{ __('Price of offer') }}</h3>
                {% endif %}
                {% if lang == 'de' %}
                    <h3>{{ __('Angebotspreis') }}</h3>
                {% endif %}
                    <span class="offerPrice">{{ offer.priceOfOffer|localizedcurrency('EUR') }}</span>
                {% endif %}
                {% if offer.normalPrice > 0 %}
                {% if lang == 'en' %}
                    <h4>{{ __('Normal price') }}</h4>
                {% endif %}
                {% if lang == 'de' %}
                    <h4>{{ __('Normalpreis') }}</h4>
                {% endif %}
                    {{ offer.normalPrice|localizedcurrency('EUR') }}<br />
                {% endif %}
            {% else %}
            {{ __('Percent of offer') }}
            <p class="percentOfferDisplay">{{ offer.percentOfOffer }}%</p>
            {% endif %}
            {#% if offer.percentOfOffer is not empty and offer.percentOfOffer != 0 %}
                <span class="offer-block-offer">{{ offer.percentOfOffer }}%</span>
            {% endif %#}

            {{ offer.description|truncate(150)|safeHtml }}<br />
            {% if offer.myLocation is not empty %}
                {{ __('Location') }}: {{ offer.myLocation|muyourcitymodule_listEntry('offer', 'myLocation') }}<br /><br />
            {% endif %}
            
            <a href="{{ path('muyourcitymodule_offer_display', { 'id': offer.id }) }}" class="btn btn-primary btn-sm" href="#" role="button">{% if lang == 'en' %}{{ __('More') }}{% endif %}{% if lang == 'de' %}{{ __('Mehr') }}{% endif %}</a>
            </div> 
            </div>
            </div>
        {% endfor %}
        {#% else %}
            <h2>{% if lang == 'en' %}{{ __('No offers available at this moment') }}{% endif %}{% if lang == 'de' %}{{ __('Momentan ist kein Angebot vorhanden') }}{% endif %}</h2><br />
            {% if lang == 'en' %}{{ __('Use the possibility to present your offers on a central platform!') }}{% endif %}{% if lang == 'de' %}Nutzen Sie die M&ouml;glichkeit, Angebote Ihrer Location zentral auf einer Plattform zu pr&auml;sentieren!{% endif %}
        {% endif %#}
    {% endif %}
    
    {% if objectType == 'product' %}
        {% for product in items %}
            {% if loop.index == 1 %}
                <div class="item active">
            {% else %}
                <div class="item">
            {% endif %}
            <div class="item-container"> 
            <div class="productItem">
            <h2>{{ product.name }}</h2>
            {{ product.description|safeHtml|truncate(100) }}
            {#<h4>{{ __('Avaibility on weekdays') }}</h4>
            {{ __('Monday') }}
            {% set itemid = product|muyourcitymodule_formattedTitle|default(__('Product')) %}
                <i class="fa fa-check{% if not product.monday %} hidden{% endif %}" id="yesMonday{{ itemid }}" title="{{ __('This setting is enabled. Click here to disable it.') }}"></i>
                <i class="fa fa-times{% if product.monday %} hidden{% endif %}" id="noMonday{{ itemid }}" title="{{ __('This setting is disabled. Click here to enable it.') }}"></i>
            {{ __('Tuesday') }}
                <i class="fa fa-check{% if not product.tuesday %} hidden{% endif %}" id="yesTuesday{{ itemid }}" title="{{ __('This setting is enabled. Click here to disable it.') }}"></i>
                <i class="fa fa-times{% if product.tuesday %} hidden{% endif %}" id="noTuesday{{ itemid }}" title="{{ __('This setting is disabled. Click here to enable it.') }}"></i>
            {{ __('Wednesday') }}    
                <i class="fa fa-check{% if not product.wednesday %} hidden{% endif %}" id="yesWednesday{{ itemid }}" title="{{ __('This setting is enabled. Click here to disable it.') }}"></i>
                <i class="fa fa-times{% if product.wednesday %} hidden{% endif %}" id="noWednesday{{ itemid }}" title="{{ __('This setting is disabled. Click here to enable it.') }}"></i>
            {{ __('Thursday') }}
                <i class="fa fa-check{% if not product.thursday %} hidden{% endif %}" id="yesThursday{{ itemid }}" title="{{ __('This setting is enabled. Click here to disable it.') }}"></i>
                <i class="fa fa-times{% if product.thursday %} hidden{% endif %}" id="noThursday{{ itemid }}" title="{{ __('This setting is disabled. Click here to enable it.') }}"></i>
            {{ __('Friday') }}
                <i class="fa fa-check{% if not product.friday %} hidden{% endif %}" id="yesFriday{{ itemid }}" title="{{ __('This setting is enabled. Click here to disable it.') }}"></i>
                <i class="fa fa-times{% if product.friday %} hidden{% endif %}" id="noFriday{{ itemid }}" title="{{ __('This setting is disabled. Click here to enable it.') }}"></i>
            {{ __('Saturday') }}
                <i class="fa fa-check{% if not product.saturday %} hidden{% endif %}" id="yesSaturday{{ itemid }}" title="{{ __('This setting is enabled. Click here to disable it.') }}"></i>
                <i class="fa fa-times{% if product.saturday %} hidden{% endif %}" id="noSaturday{{ itemid }}" title="{{ __('This setting is disabled. Click here to enable it.') }}"></i>
            {{ __('Sunday') }}     
                <i class="fa fa-check{% if not product.sunday %} hidden{% endif %}" id="yesSunday{{ itemid }}" title="{{ __('This setting is enabled. Click here to disable it.') }}"></i>
                <i class="fa fa-times{% if product.sunday %} hidden{% endif %}" id="noSunday{{ itemid }}" title="{{ __('This setting is disabled. Click here to enable it.') }}"></i>
                <br />#}
            {% if lang == 'en' %}
            <h4>{{ __('Price of product') }}</h4>
            {% endif %}
            {% if lang == 'de' %}
            <h4>{{ __('Produktpreis') }}</h4>
            {% endif %}
            {% if product.priceOfProduct != 0 %}
                {{ product.priceOfProduct|localizedcurrency('EUR') }}
                {% if product.priceAdditional is not empty %}
                    {% if product.priceAdditional == 'permonth' %}
                    {% if lang == 'en' %}
                        {{ __('per month') }}
                    {% endif %}
                    {% if lang == 'de' %}
                        {{ __('pro Monat') }}
                    {% endif %}                    
                    {% endif %}
                {% endif %}
            {% else %}
                {{ __('No price information') }}
            {% endif %}<br /><br />
            
            {% if product.myLocation is not empty %}
                {{ __('Location') }}: {{ product.myLocation|muyourcitymodule_listEntry('product', 'myLocation') }}<br /><br />
        {% endif %}    

            <a href="{{ path('muyourcitymodule_product_display', { 'id': product.id }) }}" class="btn btn-primary btn-sm" href="#" role="button">{% if lang == 'en' %}{{ __('More') }}{% endif %}{% if lang == 'de' %}{{ __('Mehr') }}{% endif %}</a>
            </div> 
            </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if objectType == 'part' %}
        {% for part in items %}
        {% if loop.index == 1 %}
            <div class="item active">
        {% else %}
            <div class="item">
        {% endif %}
        <div class="item-container"> 
            {% if part.imageOfPart is not empty and part.imageOfPartMeta|default %}
                <h3>{{ part.name }}</h3>
                {% set thumbOptions = attribute(thumbRuntimeOptions, 'partImageOfPart') %}
                <img style="width: 100%;" src="{{ part.imageOfPart.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ part|muyourcitymodule_formattedTitle|e('html_attr') }}" class="img-thumbnail" />
                <br /><br />
                {% if part.description|length > 200 %}
                {{ part.description|truncate(150)|safeHtml }}<a class="btn btn-default bnt-sm" href="{{ path('muyourcitymodule_part_display', { 'id': part.id }) }}">{{ __('Read  more about') }} {{ part.name }}</a>
                {% else %}
                {{ part.description|safeHtml }}
                {% endif %}
       {% endif %}
       </div>
       </div>
        {% endfor %}
    {% endif %}
    
    </div>
    
    <a class="left carousel-control" href="#Carousel{{ vars.bid }}" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
    <a class="right carousel-control" href="#Carousel{{ vars.bid }}" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                
    <ol class="carousel-indicators">
        {% if objectType == 'location' %}
            {% for location in items %}
                {% set counter = loop.index - 1 %}
                {% if loop.index == 1 %}
                    <li data-target="#Carousel{{ vars.bid }}" data-slide-to="{{ counter }}" class="active"></li>
                {% else %}
                    <li data-target="#Carousel{{ vars.bid }}" data-slide-to="{{ counter }}"></li>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if objectType == 'offer' %}
            {% for offer in items %}
                {% set counter = loop.index - 1 %}
                {% if loop.index == 1 %}
                    <li data-target="#Carousel{{ vars.bid }}" data-slide-to="{{ counter }}" class="active"></li>
                {% else %}
                    <li data-target="#Carousel{{ vars.bid }}" data-slide-to="{{ counter }}"></li>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if objectType == 'product' %}
            {% for product in items %}
                {% set counter = loop.index - 1 %}
                {% if loop.index == 1 %}
                    <li data-target="#Carousel{{ vars.bid }}" data-slide-to="{{ counter }}" class="active"></li>
                {% else %}
                    <li data-target="#Carousel{{ vars.bid }}" data-slide-to="{{ counter }}"></li>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if objectType == 'part' %}
            {% for part in items %}
                {% set counter = loop.index - 1 %}
                {% if loop.index == 1 %}
                    <li data-target="#Carousel{{ vars.bid }}" data-slide-to="{{ counter }}" class="active"></li>
                {% else %}
                    <li data-target="#Carousel{{ vars.bid }}" data-slide-to="{{ counter }}"></li>
                {% endif %}
            {% endfor %}
        {% endif %}
    </ol>                
</div>

{#% if objectType == 'offer' %}
<div class="slider">
    <div class="tabs">
    {% for offer in items %}
        <div class="tab">
        <div class="offerItem">
        {% if offer.percentOfOffer is not empty and offer.percentOfOffer != 0 %}
        <span class="offer-block-offer">{{ offer.percentOfOffer }}%</span>
        {% endif %}
            <h2>{{ offer.name }}</h2>
            {{ offer.description|truncate(100) }}<br />
            <a href="{{ path('muyourcitymodule_offer_display', { 'id': offer.id }) }}" class="btn btn-primary btn-sm" href="#" role="button">{{ __('More') }}</a>
        </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endif %#}
<br style="clear: both;" />

<script type="text/javascript">
/* <![CDATA[ */
var MU = jQuery.noConflict();
	MU('#Carousel{{ vars.bid }}').carousel({
		interval:   {{ vars.slideshowspeed }}
	});
        /* ]]> */
        </script>