{# Purpose of this template: Display item information for previewing from other modules #}
<dl id="menuOfLocation{{ menuOfLocation.id }}">
<dt>{{ menuOfLocation|muyourcitymodule_formattedTitle|notifyFilters('yourcity.filter_hooks.menusoflocation.filter')|safeHtml }}</dt>
<dd>{% if menuOfLocation.imageOfMenu is not empty and menuOfLocation.imageOfMenuMeta|default %}
            <a href="{{ menuOfLocation.imageOfMenuUrl }}" title="{{ menuOfLocation|muyourcitymodule_formattedTitle|e('html_attr') }}"{% if menuOfLocation.imageOfMenuMeta.isImage %} class="image-link"{% endif %}>
{% if menuOfLocation.imageOfMenuMeta.isImage %}
    {% set thumbOptions = attribute(thumbRuntimeOptions, 'menuOfLocationImageOfMenu') %}
    <img src="{{ menuOfLocation.imageOfMenu.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ menuOfLocation|muyourcitymodule_formattedTitle|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
{% else %}
    {{ __('Download') }} ({{ menuOfLocation.imageOfMenuMeta.size|muyourcitymodule_fileSize(menuOfLocation.imageOfMenu.getPathname(), false, false) }})
{% endif %}
</a>
{% else %}&nbsp;{% endif %}
</dd>
{% if menuOfLocation.description is not empty %}<dd>{{ menuOfLocation.description }}</dd>{% endif %}
</dl>
