{# purpose of this template: menus of location display view #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : (routeArea == 'admin' ? 'adminBase' : 'base') %}
{% extends 'MUYourCityModule::' ~ baseTemplate ~ '.html.twig' %}
{% block pageTitle %}{{ menuOfLocation|muyourcitymodule_formattedTitle|default(__('Menu of location')) }} - {{ menuOfLocation.location.name }}{% endblock %}
{% block title %}

    <div id="imageOfMenu">
        {% if menuOfLocation.imageOfMenu is not empty %}
            {% if menuOfLocation.imageOfMenu is not empty and menuOfLocation.imageOfMenuMeta|default %}
                        <a href="{{ menuOfLocation.imageOfMenuUrl }}" title="{{ menuOfLocation|muyourcitymodule_formattedTitle|e('html_attr') }}"{% if menuOfLocation.imageOfMenuMeta.isImage %} class="image-link"{% endif %}>
            {% if menuOfLocation.imageOfMenuMeta.isImage %}
                {% set thumbOptions = attribute(thumbRuntimeOptions, 'menuOfLocationImageOfMenu') %}
                <img src="{{ menuOfLocation.imageOfMenu.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ menuOfLocation|muyourcitymodule_formattedTitle|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
            {% else %}
                {{ __('Download') }} ({{ menuOfLocation.imageOfMenuMeta.size|muyourcitymodule_fileSize(menuOfLocation.imageOfMenu.getPathname(), false, false) }})
            {% endif %}
            </a>
            {% else %}&nbsp;{% endif %}
        {% endif %}
    </div>
    
    {% set templateTitle = menuOfLocation|muyourcitymodule_formattedTitle|default(__('Menu of location')) %}
    {{ templateTitle|notifyFilters('muyourcitymodule.filter_hooks.menusoflocation.filter') }}{% if routeArea == 'admin' %} <small>({{ menuOfLocation.workflowState|muyourcitymodule_objectState(false)|lower }})</small>{% endif %}
    {% set itemActions = knp_menu_get('MUYourCityModule:ItemActionsMenu:menu', [], { entity: menuOfLocation, area: routeArea, context: 'display' }) %}
    <div class="dropdown">
        <a id="itemActions{{ menuOfLocation.id }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> {{ __('Actions') }} <span class="caret"></span></a>
        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
    </div>
{% endblock %}
{% block admin_page_icon 'eye' %}
{% block content %}
    {% set isQuickView = app.request.query.getBoolean('raw', false) %}
    <div class="muyourcitymodule-menuoflocation muyourcitymodule-display">

    <div class="row">
        <div class="col-sm-12">

        {% if menuOfLocation.workflowState is not empty and routeArea == 'admin' %}
            <dt>{{ __('State') }}</dt>
            <dd>{{ menuOfLocation.workflowState|muyourcitymodule_listEntry('menuOfLocation', 'workflowState') }}</dd>
        {% endif %}
        {#% if menuOfLocation.name is not empty %}
            <dt>{{ __('Name') }}</dt>
            <dd>{{ menuOfLocation.name }}</dd>
        {% endif %#}

        {% if menuOfLocation.effectivFrom is not empty %}
            <h3>{{ __('Effectiv from') }}
            {{ menuOfLocation.effectivFrom|localizeddate('medium', 'short') }}
        {% endif %}
        {% if menuOfLocation.effectivUntil is not empty %}
            - {#{ __('Effectiv until') }#}
            {{ menuOfLocation.effectivUntil|localizeddate('medium', 'short') }}</h3>
        {% endif %}
        {% if menuOfLocation.location|default %}
              {% if not isQuickView %}
                  <h3>{{ __('Location') }}: <a href="{{ path('muyourcitymodule_location_' ~ routeArea ~ 'display', { 'id': menuOfLocation.location.id, 'slug': menuOfLocation.location.slug }) }}">{% spaceless %}
                    {{ menuOfLocation.location|muyourcitymodule_formattedTitle }}
                  {% endspaceless %}</a></h3>
                  <a id="locationItem{{ menuOfLocation.location.id }}Display" href="{{ path('muyourcitymodule_location_' ~ routeArea ~ 'display', { 'id': menuOfLocation.location.id, 'slug': menuOfLocation.location.slug, 'raw': 1 }) }}" title="{{ __('Open quick view window')|e('html_attr') }}" class="muyourcity-inline-window hidden" data-modal-title="{{ menuOfLocation.location|muyourcitymodule_formattedTitle|e('html_attr') }}"><span class="fa fa-id-card-o"></span></a>
              {% else %}
                  {{ menuOfLocation.location|muyourcitymodule_formattedTitle }}
              {% endif %}
        {% endif %}<br style="clear: both;" />
        
        {% if menuOfLocation.description is not empty %}
            <h4>{{ __('Description') }}</h4>
            {{ menuOfLocation.description|safeHtml }}
        {% endif %}
        <br /><br /><br style="clear: both;" />

        {% if menuOfLocation.partsOfMenu|default %}
            {{ include(
                '@MUYourCityModule/PartOfMenu/includeDisplayItemListMany.html.twig',
                { items: menuOfLocation.partsOfMenu }
            ) }}
        {% endif %}
                
        {% if menuOfLocation.dishes|default %}
            {{ include(
                '@MUYourCityModule/Dish/includeDisplayItemListManyOwn.html.twig',
                { items: menuOfLocation.dishes }
            ) }}
        {% endif %}
        <br /><br />
        {% if menuOfLocation.additionalRemarks is not empty %}
            <h4>{{ __('Additional Remarks') }}</h4>
            {{ menuOfLocation.additionalRemarks|safeHtml }}
        {% endif %}
        
    {% if routeArea == 'admin' %}
    {{ include('@MUYourCityModule/Helper/includeStandardFieldsDisplay.html.twig', { obj: menuOfLocation }) }}
    {% endif %}
    
    {{ block('display_hooks') }}
        </div>
        {#<div class="col-sm-3">
            {{ block('related_items') }}
        </div>#}
    </div>
</div>
{% endblock %}
{% block related_items %}
    {% if routeArea == 'admin' %}
        <h4>{{ __('Dishes') }}</h4>
    {% else %}
        <h3>{{ __('Dishes') }}</h3>
    {% endif %}
    
    {% if menuOfLocation.dishes|default %}
        {{ include(
            '@MUYourCityModule/Dish/includeDisplayItemListMany.html.twig',
            { items: menuOfLocation.dishes }
        ) }}
    {% endif %}
    
    {% set mayManage = hasPermission('MUYourCityModule:Dish:', '::', 'ACCESS_EDIT') %}
    {% if mayManage %}
        <p class="managelink">
            {% set createTitle = __('Create dish') %}
            <a href="{{ path('muyourcitymodule_dish_' ~ routeArea ~ 'edit', { menuOfLocation: menuOfLocation.id }) }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
        </p>
    {% endif %}
    {% if routeArea == 'admin' %}
        <h4>{{ __('Parts of menu') }}</h4>
    {% else %}
        <h3>{{ __('Parts of menu') }}</h3>
    {% endif %}
    
    {% if menuOfLocation.partsOfMenu|default %}
        {{ include(
            '@MUYourCityModule/PartOfMenu/includeDisplayItemListMany.html.twig',
            { items: menuOfLocation.partsOfMenu }
        ) }}
    {% endif %}
    
    {% set mayManage = hasPermission('MUYourCityModule:PartOfMenu:', '::', 'ACCESS_EDIT') %}
    {% if mayManage %}
        <p class="managelink">
            {% set createTitle = __('Create part of menu') %}
            <a href="{{ path('muyourcitymodule_partofmenu_' ~ routeArea ~ 'edit', { menuOfLocation: menuOfLocation.id }) }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
        </p>
    {% endif %}
{% endblock %}
{% block display_hooks %}
    {% set hooks = notifyDisplayHooks(eventName='muyourcitymodule.ui_hooks.menusoflocation.display_view', id=menuOfLocation.id, urlObject=currentUrlObject) %}
    {% for providerArea, hook in hooks if providerArea != 'provider.scribite.ui_hooks.editor' %}
        <h4>{{ providerArea }}</h4>
        {{ hook }}
    {% endfor %}
{% endblock %}
