{# purpose of this template: build the form to edit an instance of menu of location #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : (routeArea == 'admin' ? 'adminBase' : 'base') %}
{% extends 'MUYourCityModule::' ~ baseTemplate ~ '.html.twig' %}

{% block header %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@MUYourCityModule:js/MUYourCityModule.Validation.js'), 98) }}
    {{ pageAddAsset('javascript', zasset('@MUYourCityModule:js/MUYourCityModule.EditFunctions.js'), 99) }}
{% endblock %}
{% block title mode == 'create' ? __('Create menu of location') : __('Edit menu of location') %}
{% block admin_page_icon mode == 'create' ? 'plus' : 'pencil-square-o' %}
{% block content %}
    <div class="muyourcitymodule-menuoflocation muyourcitymodule-edit">
        {% form_theme form with [
            '@MUYourCityModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(form, {attr: {id: 'menuOfLocationEditForm', class: 'muyourcity-edit-form'}}) }}
        {{ form_errors(form) }}
        {% if translationsEnabled == true %}
            <div class="zikula-bootstrap-tab-container">
                <ul class="{{ form.vars.id|lower }}-translation-locales nav nav-tabs">
                    {% for language in supportedLanguages %}
                        <li{% if language == app.request.locale %} class="active"{% endif %}>
                            <a href="#" data-toggle="tab" data-target=".{{ form.vars.id|lower }}-translations-fields-{{ language }}">
                                {% if not form.vars.valid %}
                                    <span class="label label-danger"><i class="fa fa-warning"></i><span class="sr-only">{{ __('Errors') }}</span></span>
                                {% endif %}
                                {% set hasRequiredFields = language in localesWithMandatoryFields %}
                                {% if hasRequiredFields %}<span class="required">{% endif %}{{ language|languageName|safeHtml }}{% if hasRequiredFields %}</span>{% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="{{ form.vars.id|lower }}-translation-fields tab-content">
                    {% for language in supportedLanguages %}
                        <div class="{{ form.vars.id|lower }}-translations-fields-{{ language }} tab-pane fade{% if language == app.request.locale %} active in{% endif %}">
                            <fieldset>
                                <legend>{{ language|languageName|safeHtml }}</legend>
                                {% if language == app.request.locale %}
                                    {{ form_row(form.name) }}
                                    {{ form_row(form.description) }}
                                    {{ form_row(form.additionalRemarks) }}
                                {% else %}
                                    {{ form_row(attribute(form, 'translations' ~ language)) }}
                                {% endif %}
                            </fieldset>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            {% set language = app.request.locale %}
            <fieldset>
                <legend>{{ language|languageName|safeHtml }}</legend>
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                {{ form_row(form.additionalRemarks) }}
            </fieldset>
        {% endif %}
        <fieldset>
            <legend>{{ __('Further properties') }}</legend>
            {{ form_row(form.imageOfMenu) }}
            {{ form_row(form.positionOfMenu) }}
            {{ form_row(form.kindOfMenu) }}
            {{ form_row(form.effectivFrom) }}
            {{ form_row(form.effectivUntil) }}
            {{ form_row(form.inViewFrom) }}
            {{ form_row(form.inViewUntil) }}
            {{ form_row(form.myLocation) }}
        </fieldset>
        
        {{ include(
            '@MUYourCityModule/Dish/includeSelectMany.html.twig',
            {group: 'menuoflocation', heading: __('Dishes'), alias: 'dishes', mandatory: false, idPrefix: 'yourcityMenuOfLocation_Dishes', linkingItem: menuoflocation, displayMode: 'choices'}
        ) }}
        {{ include(
            '@MUYourCityModule/PartOfMenu/includeSelectMany.html.twig',
            {group: 'menuoflocation', heading: __('Parts of menu'), alias: 'partsOfMenu', mandatory: false, idPrefix: 'yourcityMenuOfLocation_PartsOfMenu', linkingItem: menuoflocation, displayMode: 'choices'}
        ) }}
        {% if mode != 'create' %}
            {{ include('@MUYourCityModule/Helper/includeStandardFieldsEdit.html.twig', {obj: menuoflocation}) }}
        {% endif %}
        
        {% if formHookTemplates|length > 0 %}
            <fieldset>
                {% for hookTemplate in formHookTemplates %}
                    {{ include(hookTemplate.0, hookTemplate.1, ignore_missing = true) }}
                {% endfor %}
            </fieldset>
        {% endif %}
        
        {% if form.moderationSpecificCreator is defined %}
            <fieldset id="moderationFieldsSection">
                <legend>{{ __('Moderation') }} <i class="fa fa-expand"></i></legend>
                <div id="moderationFieldsContent">
                    {{ form_row(form.moderationSpecificCreator) }}
                    {{ form_row(form.moderationSpecificCreationDate) }}
                </div>
            </fieldset>
        {% endif %}
        
        
        {# include possible submit actions #}
        <div class="form-group form-buttons">
            <div class="col-sm-offset-3 col-sm-9">
                {% for action in actions %}
                    {{ form_widget(attribute(form, action.id)) }}
                {% endfor %}
                {{ form_widget(form.reset) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
        {% set hookId = mode != 'create' ? menuoflocation.id : null %}
        {{ notifyDisplayHooks(eventName='muyourcitymodule.ui_hooks.menusoflocation.form_edit', id=hookId) }}
        
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {% set formInitScript %}
        <script type="text/javascript">
        /* <![CDATA[ */
            var mUYourCityInlineEditHandlers = [];
            var mUYourCityEditHandler = null;
            
            ( function($) {
                $(document).ready(function() {
                    // initialise auto completion for user fields
                    {% if form.moderationSpecificCreator is defined %}
                        initUserLiveSearch('muyourcitymodule_menuoflocation_moderationSpecificCreator');
                    {% endif %}
                    mUYourCityInitEditForm('{{ mode }}', '{% if mode != 'create' %}{{ menuoflocation.id }}{% endif %}');
                    mUYourCityInitUploadField('muyourcitymodule_menuoflocation_imageOfMenu_imageOfMenu');
                    mUYourCityInitDateField('muyourcitymodule_menuoflocation_effectivFrom');
                    mUYourCityInitDateField('muyourcitymodule_menuoflocation_effectivUntil');
                    mUYourCityInitDateField('muyourcitymodule_menuoflocation_inViewFrom');
                    mUYourCityInitDateField('muyourcitymodule_menuoflocation_inViewUntil');
                });
            })(jQuery);
        /* ]]> */
        </script>
    {% endset %}
    {{ pageAddAsset('footer', formInitScript) }}
{% endblock %}
