{# purpose of this template: reusable display of entity categories #}

{{ __('Legend') }}<br style="clar: both;" />

<span style="color: #008a00;"><i class="fa fa-circle" aria-hidden="true"></i></span> {{ __('Open') }} 
<span style="color: #ff0000;"><i class="fa fa-circle-o" aria-hidden="true"></i></span> {{ __('Closed') }} 
<span style="color: #ee2299;"><i class="fa fa-circle-o-notch" aria-hidden="true"></i></span> {{ __('Unclear times') }} 
<span style="color: #ff8040;"><i class="fa fa-clock-o" aria-hidden="true"></i></span>  {{ __('Agreement') }} 
