{# purpose of this template: files of location list view #}
{% extends routeArea == 'admin' ? 'MUYourCityModule::adminBase.html.twig' : 'MUYourCityModule::base.html.twig' %}
{% block title own ? __('My files of location') : __('File of location list') %}
{% block admin_page_icon 'list-alt' %}
{% block content %}
<div class="muyourcitymodule-fileoflocation muyourcitymodule-view">

    {{ block('page_nav_links') }}

    {{ include('@MUYourCityModule/FileOfLocation/viewQuickNav.html.twig', { workflowStateFilter: false }) }}{# see template file for available options #}

    {% if routeArea == 'admin' %}
    <form action="{{ path('muyourcitymodule_fileoflocation_' ~ routeArea ~ 'handleselectedentries') }}" method="post" id="filesOfLocationViewForm" class="form-horizontal" role="form">
        <div>
    {% endif %}
        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover{% if routeArea == 'admin' %} table-condensed{% endif %}">
            <colgroup>
                {% if routeArea == 'admin' %}
                    <col id="cSelect" />
                {% endif %}
                <col id="cItemActions" />
                <col id="cName" />
                <col id="cDescription" />
                <col id="cFileOfFile" />
                <col id="cLocation" />
            </colgroup>
            <thead>
            <tr>
                {% if routeArea == 'admin' %}
                    <th id="hSelect" scope="col" class="{% if items|length > 0 %}fixed-column {% endif %}text-center z-w02">
                        <input type="checkbox" class="muyourcity-mass-toggle" />
                    </th>
                {% endif %}
                <th id="hItemActions" scope="col" class="{% if items|length > 0 %}fixed-column {% endif %}z-order-unsorted z-w02">{{ __('Actions') }}</th>
                <th id="hName" scope="col" class="text-left">
                    <a href="{{ sort.name.url }}" title="{{ __f('Sort by %s', {'%s': 'name'}) }}" class="{{ sort.name.class }}">{{ __('Name') }}</a>
                </th>
                <th id="hDescription" scope="col" class="text-left">
                    <a href="{{ sort.description.url }}" title="{{ __f('Sort by %s', {'%s': 'description'}) }}" class="{{ sort.description.class }}">{{ __('Description') }}</a>
                </th>
                <th id="hFileOfFile" scope="col" class="text-left">
                    <a href="{{ sort.fileOfFile.url }}" title="{{ __f('Sort by %s', {'%s': 'file of file'}) }}" class="{{ sort.fileOfFile.class }}">{{ __('File of file') }}</a>
                </th>
                <th id="hLocation" scope="col" class="text-left">
                    <a href="{{ sort.location.url }}" title="{{ __f('Sort by %s', {'%s': 'location'}) }}" class="{{ sort.location.class }}">{{ __('Location') }}</a>
                </th>
            </tr>
            </thead>
            <tbody>
        
        {% for fileOfLocation in items %}
            <tr>
                {% if routeArea == 'admin' %}
                    <td headers="hSelect" class="fixed-column text-center z-w02">
                        <input type="checkbox" name="items[]" value="{{ fileOfLocation.id }}" class="muyourcity-toggle-checkbox" />
                    </td>
                {% endif %}
                <td id="itemActions{{ fileOfLocation.id }}" headers="hItemActions" class="fixed-column actions nowrap z-w02">
                    {% set itemActions = knp_menu_get('MUYourCityModule:ItemActionsMenu:menu', [], { entity: fileOfLocation, area: routeArea, context: 'view' }) %}
                    <div class="dropdown">
                        <a id="itemActions{{ fileOfLocation.id }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> <span class="caret"></span></a>
                        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
                    </div>
                </td>
                <td headers="hName" class="text-left">
                    <a href="{{ path('muyourcitymodule_fileoflocation_' ~ routeArea ~ 'display', { 'id': fileOfLocation.id }) }}" title="{{ __('View detail page')|e('html_attr') }}">{{ fileOfLocation.name|notifyFilters('muyourcitymodule.filterhook.filesoflocation') }}</a>
                </td>
                <td headers="hDescription" class="text-left">
                    {{ fileOfLocation.description|safeHtml|truncate(50) }}
                </td>
                <td headers="hFileOfFile" class="text-left">
                    {% if fileOfLocation.fileOfFileMeta|default %}
                    <a href="{{ fileOfLocation.fileOfFileUrl }}" title="{{ fileOfLocation|muyourcitymodule_formattedTitle|e('html_attr') }}"{% if fileOfLocation.fileOfFileMeta.isImage %} class="image-link"{% endif %}>
                    {% if fileOfLocation.fileOfFileMeta.isImage %}
                        {% set thumbOptions = attribute(thumbRuntimeOptions, 'fileOfLocationFileOfFile') %}
                        <img src="{{ fileOfLocation.fileOfFile.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ fileOfLocation|muyourcitymodule_formattedTitle|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
                    {% else %}
                        {{ __('Download') }} ({{ fileOfLocation.fileOfFileMeta.size|muyourcitymodule_fileSize(fileOfLocation.fileOfFile.getPathname(), false, false) }})
                    {% endif %}
                    </a>
                    {% endif %}
                </td>
                <td headers="hLocation" class="text-left">
                    {% if fileOfLocation.location|default %}
                        <a href="{{ path('muyourcitymodule_location_' ~ routeArea ~ 'display', { 'id': fileOfLocation.location.id, 'slug': fileOfLocation.location.slug }) }}">{% spaceless %}
                          {{ fileOfLocation.location|muyourcitymodule_formattedTitle }}
                        {% endspaceless %}</a>
                        <a id="locationItem{{ fileOfLocation.id }}_rel_{{ fileOfLocation.location.id }}Display" href="{{ path('muyourcitymodule_location_' ~ routeArea ~ 'display', {'id': fileOfLocation.location.id, 'slug': fileOfLocation.location.slug, 'raw': 1 }) }}" title="{{ __('Open quick view window')|e('html_attr') }}" class="muyourcity-inline-window hidden" data-modal-title="{{ fileOfLocation.location|muyourcitymodule_formattedTitle|e('html_attr') }}"><span class="fa fa-id-card-o"></span></a>
                    {% else %}
                        {{ __('Not set.') }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr class="z-{{ routeArea == 'admin' ? 'admin' : 'data' }}tableempty">
                <td class="text-left" colspan="{% if routeArea == 'admin' %}6{% else %}5{% endif %}">
            {{ __('No files of location found.') }}
              </td>
            </tr>
        {% endfor %}
        
            </tbody>
        </table>
        </div>
        
        {% if all != 1 and pager|default %}
            {{ pager({ rowcount: pager.amountOfItems, limit: pager.itemsPerPage, display: 'page', route: 'muyourcitymodule_fileoflocation_' ~ routeArea ~ 'view'}) }}
        {% endif %}
    {% if routeArea == 'admin' %}
            <fieldset>
                <label for="mUYourCityModuleAction" class="col-sm-3 control-label">{{ __('With selected files of location') }}</label>
                <div class="col-sm-6">
                    <select id="mUYourCityModuleAction" name="action" class="form-control input-sm">
                        <option value="">{{ __('Choose action') }}</option>
                        <option value="delete" title="{{ __('Delete content permanently.') }}">{{ __('Delete') }}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="submit" value="{{ __('Submit') }}" class="btn btn-default btn-sm" />
                </div>
            </fieldset>
        </div>
    </form>
    {% endif %}

    {{ block('display_hooks') }}
</div>
{% endblock %}
{% block page_nav_links %}
    <p>
        {% if canBeCreated %}
            {% if hasPermission('MUYourCityModule:FileOfLocation:', '::', 'ACCESS_EDIT') %}
                {% set createTitle = __('Create file of location') %}
                <a href="{{ path('muyourcitymodule_fileoflocation_' ~ routeArea ~ 'edit') }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
            {% endif %}
        {% endif %}
        {% if all == 1 %}
            {% set linkTitle = __('Back to paginated view') %}
            <a href="{{ path('muyourcitymodule_fileoflocation_' ~ routeArea ~ 'view') }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
        {% else %}
            {% set linkTitle = __('Show all entries') %}
            <a href="{{ path('muyourcitymodule_fileoflocation_' ~ routeArea ~ 'view', { all: 1 }) }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
        {% endif %}
    </p>
{% endblock %}
{% block display_hooks %}
    
    {# here you can activate calling display hooks for the view page if you need it #}
    {# % if routeArea != 'admin' %}
        {% set hooks = notifyDisplayHooks(eventName='muyourcitymodule.ui_hooks.filesoflocation.display_view', urlObject=currentUrlObject) %}
        {% for providerArea, hook in hooks %}
            {{ hook }}
        {% endfor %}
    {% endif % #}
{% endblock %}
