{# purpose of this template: abonnements list view #}
{% extends routeArea == 'admin' ? 'MUYourCityModule::adminBase.html.twig' : 'MUYourCityModule::base.html.twig' %}
{% block title own ? __('My abonnements') : __('Abonnement list') %}
{% block admin_page_icon 'list-alt' %}
{% block content %}
<div class="muyourcitymodule-abonnement muyourcitymodule-view">

    <p class="alert alert-info">{{ __('You are able to subscribe for a location.
    You can set if you wish to see parts of a location and if you like to get a message.') }}</p>

    {{ block('page_nav_links') }}

    {{ include('@MUYourCityModule/Abonnement/viewQuickNav.html.twig') }}{# see template file for available options #}
    
    {% if routeArea != 'admin' %}
    {% if items %}
        <div role="tabpanel">
          <ul class="nav nav-tabs" role="tablist">
          {% for abonnement in items %}
          {% if loop.index == 1 %} 
            <li role="presentation" class="active"><a href="#home1" data-toggle="tab" role="tab" aria-controls="tab{{ loop.index }}">{{ abonnement.name }}</a></li>
          {% else %}
            <li role="presentation"><a href="#panel{{ loop.index }}" data-toggle="tab" role="tab" aria-controls="tab{{ loop.index }}">{{ abonnement.name }}</a></li>
          {% endif %}
          {% endfor %}
          </ul>
          <div id="tabContent1" class="tab-content">
          {% for abonnement in items %}
          {% if loop.index == 1 %}
            <div role="tabpanel" class="tab-pane fade in active" id="home1">
            <span class="abonnement-edit"><a href="{{ path('muyourcitymodule_abonnement_' ~ routeArea ~ 'edit', { 'id': abonnement.id }) }}" title="{{ __('Edit Abonnement')|e('html_attr') }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></span>
                {{ include(
                    '@MUYourCityModule/Location/includeDisplayItemListOneOwn.html.twig',
                    { item: abonnement.location, showMenus: abonnement.showMenus, showOffers: abonnement.showOffers, showProducts: abonnement.showProducts, showEvents: abonnement.showEvents }
                ) }}
            </div>
          {% else %}
              <div role="tabpanel" class="tab-pane fade" id="panel{{ loop.index }}">
              <span class="abonnement-edit"><a href="{{ path('muyourcitymodule_abonnement_' ~ routeArea ~ 'edit', { 'id': abonnement.id }) }}" title="{{ __('Edit Abonnement')|e('html_attr') }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></span>
                {{ include(
                    '@MUYourCityModule/Location/includeDisplayItemListOneOwn.html.twig',
                    { item: abonnement.location, showMenus: abonnement.showMenus, showOffers: abonnement.showOffers, showProducts: abonnement.showProducts, showEvents: abonnement.showEvents }
                ) }}
            </div>
          {% endif %}
          {% endfor %}
          </div>
        </div>
    {% else %}
        {{ __('No abonnements') }}
    {% endif %}
    {% endif %}

    {% if routeArea == 'admin' %}
    {% if routeArea == 'admin' %}
    <form action="{{ path('muyourcitymodule_abonnement_' ~ routeArea ~ 'handleselectedentries') }}" method="post" id="abonnementsViewForm" class="form-horizontal" role="form">
        <div>
    {% endif %}
        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover{% if routeArea == 'admin' %} table-condensed{% endif %}">
            <colgroup>
                {% if routeArea == 'admin' %}
                    <col id="cSelect" />
                {% endif %}
                <col id="cItemActions" />
                {% if routeArea == 'admin' %}
                <col id="cWorkflowState" />
                {% endif %}
                <col id="cName" />
                <col id="cLocation" />
            </colgroup>
            <thead>
            <tr>
                {% if routeArea == 'admin' %}
                    <th id="hSelect" scope="col" class="{% if items|length > 0 %}fixed-column {% endif %}text-center z-w02">
                        <input type="checkbox" class="muyourcity-mass-toggle" />
                    </th>
                {% endif %}
                <th id="hItemActions" scope="col" class="{% if items|length > 0 %}fixed-column {% endif %}z-order-unsorted z-w02">{{ __('Actions') }}</th>
                {% if routeArea == 'admin' %}
                <th id="hWorkflowState" scope="col" class="text-left">
                    <a href="{{ sort.workflowState.url }}" title="{{ __f('Sort by %s', {'%s': 'state'}) }}" class="{{ sort.workflowState.class }}">{{ __('State') }}</a>
                </th>
                {% endif %}
                <th id="hName" scope="col" class="text-left">
                    <a href="{{ sort.name.url }}" title="{{ __f('Sort by %s', {'%s': 'name'}) }}" class="{{ sort.name.class }}">{{ __('Name') }}</a>
                </th>
                <th id="hLocation" scope="col" class="text-left">
                    <a href="{{ sort.location.url }}" title="{{ __f('Sort by %s', {'%s': 'location'}) }}" class="{{ sort.location.class }}">{{ __('Location') }}</a>
                </th>
            </tr>
            </thead>
            <tbody>
        
        {% for abonnement in items %}
            <tr>
                {% if routeArea == 'admin' %}
                    <td headers="hSelect" class="fixed-column text-center z-w02">
                        <input type="checkbox" name="items[]" value="{{ abonnement.id }}" class="muyourcity-toggle-checkbox" />
                    </td>
                {% endif %}
                <td id="itemActions{{ abonnement.id }}" headers="hItemActions" class="fixed-column actions nowrap z-w02">
                    {% set itemActions = knp_menu_get('MUYourCityModule:ItemActionsMenu:menu', [], { entity: abonnement, area: routeArea, context: 'view' }) %}
                    <div class="dropdown">
                        <a id="itemActions{{ abonnement.id }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> <span class="caret"></span></a>
                        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
                    </div>
                </td>
                {% if routeArea == 'admin' %}<td headers="hWorkflowState" class="text-left nowrap">
                    {{ abonnement.workflowState|muyourcitymodule_objectState }}
                </td>
                {% endif %}<td headers="hName" class="text-left">
                    {{ abonnement.name|notifyFilters('muyourcitymodule.filterhook.abonnements') }}
                </td>
                <td headers="hLocation" class="text-left">
                    {% if abonnement.location|default %}
                        <a href="{{ path('muyourcitymodule_location_' ~ routeArea ~ 'display', { 'id': abonnement.location.id, 'slug': abonnement.location.slug }) }}">{% spaceless %}
                          {{ abonnement.location|muyourcitymodule_formattedTitle }}
                        {% endspaceless %}</a>
                        <a id="locationItem{{ abonnement.id }}_rel_{{ abonnement.location.id }}Display" href="{{ path('muyourcitymodule_location_' ~ routeArea ~ 'display', {'id': abonnement.location.id, 'slug': abonnement.location.slug, 'raw': 1 }) }}" title="{{ __('Open quick view window')|e('html_attr') }}" class="muyourcity-inline-window hidden" data-modal-title="{{ abonnement.location|muyourcitymodule_formattedTitle|e('html_attr') }}"><span class="fa fa-id-card-o"></span></a>
                    {% else %}
                        {{ __('Not set.') }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr class="z-{{ routeArea == 'admin' ? 'admin' : 'data' }}tableempty">
                <td class="text-left" colspan="{% if routeArea == 'admin' %}5{% else %}4{% endif %}">
            {{ __('No abonnements found.') }}
              </td>
            </tr>
        {% endfor %}
        
            </tbody>
        </table>
        </div>
        {% endif %}
        
        {% if all != 1 and pager|default %}
            {{ pager({ rowcount: pager.amountOfItems, limit: pager.itemsPerPage, display: 'page', route: 'muyourcitymodule_abonnement_' ~ routeArea ~ 'view'}) }}
        {% endif %}
    {% if routeArea == 'admin' %}
            <fieldset>
                <label for="mUYourCityModuleAction" class="col-sm-3 control-label">{{ __('With selected abonnements') }}</label>
                <div class="col-sm-6">
                    <select id="mUYourCityModuleAction" name="action" class="form-control input-sm">
                        <option value="">{{ __('Choose action') }}</option>
                        <option value="delete" title="{{ __('Delete content permanently.') }}">{{ __('Delete') }}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="submit" value="{{ __('Submit') }}" class="btn btn-default btn-sm" />
                </div>
            </fieldset>
        </div>
    </form>
    {% endif %}

    {{ block('display_hooks') }}
</div>
{% endblock %}
{% block page_nav_links %}
    <p>
        {% if canBeCreated %}
            {% if hasPermission('MUYourCityModule:Abonnement:', '::', 'ACCESS_EDIT') %}
                {% set createTitle = __('Create abonnement') %}
                <a href="{{ path('muyourcitymodule_abonnement_' ~ routeArea ~ 'edit') }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
            {% endif %}
        {% endif %}
        {% if all == 1 %}
            {% set linkTitle = __('Back to paginated view') %}
            <a href="{{ path('muyourcitymodule_abonnement_' ~ routeArea ~ 'view') }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
        {% else %}
            {% set linkTitle = __('Show all entries') %}
            <a href="{{ path('muyourcitymodule_abonnement_' ~ routeArea ~ 'view', { all: 1 }) }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
        {% endif %}
    </p>
{% endblock %}
{% block display_hooks %}
    
    {# here you can activate calling display hooks for the view page if you need it #}
    {# % if routeArea != 'admin' %}
        {% set hooks = notifyDisplayHooks(eventName='muyourcitymodule.ui_hooks.abonnements.display_view', urlObject=currentUrlObject) %}
        {% for providerArea, hook in hooks %}
            {{ hook }}
        {% endfor %}
    {% endif % #}
{% if routeArea != 'admin' %}
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.js"></script>
    {{ pageAddAsset('stylesheet', asset('css/bootstrap.css')) }}    
{% endif %}
{% endblock %}