{# purpose of this template: abonnements list view #}
{% extends routeArea == 'admin' ? 'MUYourCityModule::adminBase.html.twig' : 'MUYourCityModule::base.html.twig' %}
{% block title own ? __('My abonnements') : __('Abonnement list') %}
{% block admin_page_icon 'list-alt' %}
{% block content %}
<div class="muyourcitymodule-abonnement muyourcitymodule-view">

    <p class="alert alert-info">{{ __('You are able to subscribe for a location.
    You can set if you wish to see parts of a location and if you like to get a message.') }}</p>

    {{ block('page_nav_links') }}

    {{ include('@MUYourCityModule/Abonnement/viewQuickNav.html.twig') }}{# see template file for available options #}

    {% if routeArea == 'admin' %}
    <form action="{{ path('muyourcitymodule_abonnement_' ~ routeArea ~ 'handleselectedentries') }}" method="post" id="abonnementsViewForm" class="form-horizontal" role="form">
        <div>
    {% endif %}
        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <colgroup>
                {% if routeArea == 'admin' %}
                    <col id="cSelect" />
                {% endif %}
                <col id="cItemActions" />
                {% if routeArea == 'admin' %}
                <col id="cWorkflowState" />
                {% endif %}
                <col id="cName" />
                <col id="cShowMenus" />
                <col id="cSendMessageForMenus" />
                <col id="cShowOffers" />
                <col id="cSendMessageForOffers" />
                <col id="cShowEvents" />
                <col id="cSendMessageForEvents" />
                <col id="cShowProducts" />
                <col id="cSendMessageForProducts" />
                <col id="cShowOptionOne" />
                <col id="cSendMessageToOptionOne" />
                <col id="cShowOptionTwo" />
                <col id="cSendMessageToOptionTwo" />
                <col id="cShowOptionThree" />
                <col id="cSendMessageToOptionThree" />
                <col id="cPositionOfAbo" />
                <col id="cLocation" />
            </colgroup>
            <thead>
            <tr>
                {% if routeArea == 'admin' %}
                    <th id="hSelect" scope="col" class="{% if items|length > 0 %}fixed-column {% endif %}text-center z-w02">
                        <input type="checkbox" class="muyourcity-mass-toggle" />
                    </th>
                {% endif %}
                <th id="hItemActions" scope="col" class="{% if items|length > 0 %}fixed-column {% endif %}z-order-unsorted z-w02">{{ __('Actions') }}</th>
                {% if routeArea == 'admin' %}
                <th id="hWorkflowState" scope="col" class="text-left">
                    <a href="{{ sort.workflowState.url }}" title="{{ __f('Sort by %s', {'%s': 'state'}) }}" class="{{ sort.workflowState.class }}">{{ __('State') }}</a>
                </th>
                {% endif %}
                <th id="hName" scope="col" class="text-left">
                    <a href="{{ sort.name.url }}" title="{{ __f('Sort by %s', {'%s': 'name'}) }}" class="{{ sort.name.class }}">{{ __('Name') }}</a>
                </th>
                <th id="hShowMenus" scope="col" class="text-center">
                    <a href="{{ sort.showMenus.url }}" title="{{ __f('Sort by %s', {'%s': 'show menus'}) }}" class="{{ sort.showMenus.class }}">{{ __('Show menus') }}</a>
                </th>
                <th id="hSendMessageForMenus" scope="col" class="text-center">
                    <a href="{{ sort.sendMessageForMenus.url }}" title="{{ __f('Sort by %s', {'%s': 'send message for menus'}) }}" class="{{ sort.sendMessageForMenus.class }}">{{ __('Send message for menus') }}</a>
                </th>
                <th id="hShowOffers" scope="col" class="text-center">
                    <a href="{{ sort.showOffers.url }}" title="{{ __f('Sort by %s', {'%s': 'show offers'}) }}" class="{{ sort.showOffers.class }}">{{ __('Show offers') }}</a>
                </th>
                <th id="hSendMessageForOffers" scope="col" class="text-center">
                    <a href="{{ sort.sendMessageForOffers.url }}" title="{{ __f('Sort by %s', {'%s': 'send message for offers'}) }}" class="{{ sort.sendMessageForOffers.class }}">{{ __('Send message for offers') }}</a>
                </th>
                <th id="hShowEvents" scope="col" class="text-center">
                    <a href="{{ sort.showEvents.url }}" title="{{ __f('Sort by %s', {'%s': 'show events'}) }}" class="{{ sort.showEvents.class }}">{{ __('Show events') }}</a>
                </th>
                <th id="hSendMessageForEvents" scope="col" class="text-center">
                    <a href="{{ sort.sendMessageForEvents.url }}" title="{{ __f('Sort by %s', {'%s': 'send message for events'}) }}" class="{{ sort.sendMessageForEvents.class }}">{{ __('Send message for events') }}</a>
                </th>
                <th id="hShowProducts" scope="col" class="text-center">
                    <a href="{{ sort.showProducts.url }}" title="{{ __f('Sort by %s', {'%s': 'show products'}) }}" class="{{ sort.showProducts.class }}">{{ __('Show products') }}</a>
                </th>
                <th id="hSendMessageForProducts" scope="col" class="text-center">
                    <a href="{{ sort.sendMessageForProducts.url }}" title="{{ __f('Sort by %s', {'%s': 'send message for products'}) }}" class="{{ sort.sendMessageForProducts.class }}">{{ __('Send message for products') }}</a>
                </th>
                <th id="hShowOptionOne" scope="col" class="text-center">
                    <a href="{{ sort.showOptionOne.url }}" title="{{ __f('Sort by %s', {'%s': 'show option one'}) }}" class="{{ sort.showOptionOne.class }}">{{ __('Show option one') }}</a>
                </th>
                <th id="hSendMessageToOptionOne" scope="col" class="text-center">
                    <a href="{{ sort.sendMessageToOptionOne.url }}" title="{{ __f('Sort by %s', {'%s': 'send message to option one'}) }}" class="{{ sort.sendMessageToOptionOne.class }}">{{ __('Send message to option one') }}</a>
                </th>
                <th id="hShowOptionTwo" scope="col" class="text-center">
                    <a href="{{ sort.showOptionTwo.url }}" title="{{ __f('Sort by %s', {'%s': 'show option two'}) }}" class="{{ sort.showOptionTwo.class }}">{{ __('Show option two') }}</a>
                </th>
                <th id="hSendMessageToOptionTwo" scope="col" class="text-center">
                    <a href="{{ sort.sendMessageToOptionTwo.url }}" title="{{ __f('Sort by %s', {'%s': 'send message to option two'}) }}" class="{{ sort.sendMessageToOptionTwo.class }}">{{ __('Send message to option two') }}</a>
                </th>
                <th id="hShowOptionThree" scope="col" class="text-center">
                    <a href="{{ sort.showOptionThree.url }}" title="{{ __f('Sort by %s', {'%s': 'show option three'}) }}" class="{{ sort.showOptionThree.class }}">{{ __('Show option three') }}</a>
                </th>
                <th id="hSendMessageToOptionThree" scope="col" class="text-center">
                    <a href="{{ sort.sendMessageToOptionThree.url }}" title="{{ __f('Sort by %s', {'%s': 'send message to option three'}) }}" class="{{ sort.sendMessageToOptionThree.class }}">{{ __('Send message to option three') }}</a>
                </th>
                <th id="hPositionOfAbo" scope="col" class="text-right">
                    <a href="{{ sort.positionOfAbo.url }}" title="{{ __f('Sort by %s', {'%s': 'position of abo'}) }}" class="{{ sort.positionOfAbo.class }}">{{ __('Position of abo') }}</a>
                </th>
                <th id="hLocation" scope="col" class="text-left">
                    <a href="{{ sort.location.url }}" title="{{ __f('Sort by %s', {'%s': 'location'}) }}" class="{{ sort.location.class }}">{{ __('Location') }}</a>
                </th>
            </tr>
            </thead>
            <tbody>
        
        {% for abonnement in items %}
            <tr>
                {% if routeArea == 'admin' %}
                    <td headers="hSelect" class="fixed-column text-center z-w02">
                        <input type="checkbox" name="items[]" value="{{ abonnement.id }}" class="muyourcity-toggle-checkbox" />
                    </td>
                {% endif %}
                <td id="itemActions{{ abonnement.id }}" headers="hItemActions" class="fixed-column actions nowrap z-w02">
                    {% set itemActions = knp_menu_get('MUYourCityModule:ItemActionsMenu:menu', [], { entity: abonnement, area: routeArea, context: 'view' }) %}
                    <div class="dropdown">
                        <a id="itemActions{{ abonnement.id }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> <span class="caret"></span></a>
                        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
                    </div>
                </td>
                {% if routeArea == 'admin' %}<td headers="hWorkflowState" class="text-left nowrap">
                    {{ abonnement.workflowState|muyourcitymodule_objectState }}
                </td>
                {% endif %}<td headers="hName" class="text-left">
                    {{ abonnement.name|notifyFilters('muyourcitymodule.filterhook.abonnements') }}
                </td>
                <td headers="hShowMenus" class="text-center">
                    {% set itemid = abonnement.createCompositeIdentifier() %}
                    <a id="toggleShowMenus{{ itemid }}" href="javascript:void(0);" class="muyourcity-ajax-toggle hidden" data-object-type="abonnement" data-field-name="showMenus" data-item-id="{{ itemid }}">
                        <i class="fa fa-check{% if not abonnement.showMenus %} hidden{% endif %}" id="yesShowMenus{{ itemid }}" title="{{ __('This setting is enabled. Click here to disable it.') }}"></i>
                        <i class="fa fa-times{% if abonnement.showMenus %} hidden{% endif %}" id="noShowMenus{{ itemid }}" title="{{ __('This setting is disabled. Click here to enable it.') }}"></i>
                    </a>
                    <noscript><div id="noscriptShowMenus{{ itemid }}">
                        {% if abonnement.showMenus %}
                            <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                        {% else %}
                            <i class="fa fa-times" title="{{ __('No') }}"></i>
                        {% endif %}
                    </div></noscript>
                </td>
                <td headers="hSendMessageForMenus" class="text-center">
                    {% set itemid = abonnement.createCompositeIdentifier() %}
                    <a id="toggleSendMessageForMenus{{ itemid }}" href="javascript:void(0);" class="muyourcity-ajax-toggle hidden" data-object-type="abonnement" data-field-name="sendMessageForMenus" data-item-id="{{ itemid }}">
                        <i class="fa fa-check{% if not abonnement.sendMessageForMenus %} hidden{% endif %}" id="yesSendMessageForMenus{{ itemid }}" title="{{ __('This setting is enabled. Click here to disable it.') }}"></i>
                        <i class="fa fa-times{% if abonnement.sendMessageForMenus %} hidden{% endif %}" id="noSendMessageForMenus{{ itemid }}" title="{{ __('This setting is disabled. Click here to enable it.') }}"></i>
                    </a>
                    <noscript><div id="noscriptSendMessageForMenus{{ itemid }}">
                        {% if abonnement.sendMessageForMenus %}
                            <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                        {% else %}
                            <i class="fa fa-times" title="{{ __('No') }}"></i>
                        {% endif %}
                    </div></noscript>
                </td>
                <td headers="hShowOffers" class="text-center">
                    {% set itemid = abonnement.createCompositeIdentifier() %}
                    <a id="toggleShowOffers{{ itemid }}" href="javascript:void(0);" class="muyourcity-ajax-toggle hidden" data-object-type="abonnement" data-field-name="showOffers" data-item-id="{{ itemid }}">
                        <i class="fa fa-check{% if not abonnement.showOffers %} hidden{% endif %}" id="yesShowOffers{{ itemid }}" title="{{ __('This setting is enabled. Click here to disable it.') }}"></i>
                        <i class="fa fa-times{% if abonnement.showOffers %} hidden{% endif %}" id="noShowOffers{{ itemid }}" title="{{ __('This setting is disabled. Click here to enable it.') }}"></i>
                    </a>
                    <noscript><div id="noscriptShowOffers{{ itemid }}">
                        {% if abonnement.showOffers %}
                            <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                        {% else %}
                            <i class="fa fa-times" title="{{ __('No') }}"></i>
                        {% endif %}
                    </div></noscript>
                </td>
                <td headers="hSendMessageForOffers" class="text-center">
                    {% set itemid = abonnement.createCompositeIdentifier() %}
                    <a id="toggleSendMessageForOffers{{ itemid }}" href="javascript:void(0);" class="muyourcity-ajax-toggle hidden" data-object-type="abonnement" data-field-name="sendMessageForOffers" data-item-id="{{ itemid }}">
                        <i class="fa fa-check{% if not abonnement.sendMessageForOffers %} hidden{% endif %}" id="yesSendMessageForOffers{{ itemid }}" title="{{ __('This setting is enabled. Click here to disable it.') }}"></i>
                        <i class="fa fa-times{% if abonnement.sendMessageForOffers %} hidden{% endif %}" id="noSendMessageForOffers{{ itemid }}" title="{{ __('This setting is disabled. Click here to enable it.') }}"></i>
                    </a>
                    <noscript><div id="noscriptSendMessageForOffers{{ itemid }}">
                        {% if abonnement.sendMessageForOffers %}
                            <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                        {% else %}
                            <i class="fa fa-times" title="{{ __('No') }}"></i>
                        {% endif %}
                    </div></noscript>
                </td>
                <td headers="hShowEvents" class="text-center">
                    {% set itemid = abonnement.createCompositeIdentifier() %}
                    <a id="toggleShowEvents{{ itemid }}" href="javascript:void(0);" class="muyourcity-ajax-toggle hidden" data-object-type="abonnement" data-field-name="showEvents" data-item-id="{{ itemid }}">
                        <i class="fa fa-check{% if not abonnement.showEvents %} hidden{% endif %}" id="yesShowEvents{{ itemid }}" title="{{ __('This setting is enabled. Click here to disable it.') }}"></i>
                        <i class="fa fa-times{% if abonnement.showEvents %} hidden{% endif %}" id="noShowEvents{{ itemid }}" title="{{ __('This setting is disabled. Click here to enable it.') }}"></i>
                    </a>
                    <noscript><div id="noscriptShowEvents{{ itemid }}">
                        {% if abonnement.showEvents %}
                            <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                        {% else %}
                            <i class="fa fa-times" title="{{ __('No') }}"></i>
                        {% endif %}
                    </div></noscript>
                </td>
                <td headers="hSendMessageForEvents" class="text-center">
                    {% set itemid = abonnement.createCompositeIdentifier() %}
                    <a id="toggleSendMessageForEvents{{ itemid }}" href="javascript:void(0);" class="muyourcity-ajax-toggle hidden" data-object-type="abonnement" data-field-name="sendMessageForEvents" data-item-id="{{ itemid }}">
                        <i class="fa fa-check{% if not abonnement.sendMessageForEvents %} hidden{% endif %}" id="yesSendMessageForEvents{{ itemid }}" title="{{ __('This setting is enabled. Click here to disable it.') }}"></i>
                        <i class="fa fa-times{% if abonnement.sendMessageForEvents %} hidden{% endif %}" id="noSendMessageForEvents{{ itemid }}" title="{{ __('This setting is disabled. Click here to enable it.') }}"></i>
                    </a>
                    <noscript><div id="noscriptSendMessageForEvents{{ itemid }}">
                        {% if abonnement.sendMessageForEvents %}
                            <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                        {% else %}
                            <i class="fa fa-times" title="{{ __('No') }}"></i>
                        {% endif %}
                    </div></noscript>
                </td>
                <td headers="hShowProducts" class="text-center">
                    {% set itemid = abonnement.createCompositeIdentifier() %}
                    <a id="toggleShowProducts{{ itemid }}" href="javascript:void(0);" class="muyourcity-ajax-toggle hidden" data-object-type="abonnement" data-field-name="showProducts" data-item-id="{{ itemid }}">
                        <i class="fa fa-check{% if not abonnement.showProducts %} hidden{% endif %}" id="yesShowProducts{{ itemid }}" title="{{ __('This setting is enabled. Click here to disable it.') }}"></i>
                        <i class="fa fa-times{% if abonnement.showProducts %} hidden{% endif %}" id="noShowProducts{{ itemid }}" title="{{ __('This setting is disabled. Click here to enable it.') }}"></i>
                    </a>
                    <noscript><div id="noscriptShowProducts{{ itemid }}">
                        {% if abonnement.showProducts %}
                            <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                        {% else %}
                            <i class="fa fa-times" title="{{ __('No') }}"></i>
                        {% endif %}
                    </div></noscript>
                </td>
                <td headers="hSendMessageForProducts" class="text-center">
                    {% set itemid = abonnement.createCompositeIdentifier() %}
                    <a id="toggleSendMessageForProducts{{ itemid }}" href="javascript:void(0);" class="muyourcity-ajax-toggle hidden" data-object-type="abonnement" data-field-name="sendMessageForProducts" data-item-id="{{ itemid }}">
                        <i class="fa fa-check{% if not abonnement.sendMessageForProducts %} hidden{% endif %}" id="yesSendMessageForProducts{{ itemid }}" title="{{ __('This setting is enabled. Click here to disable it.') }}"></i>
                        <i class="fa fa-times{% if abonnement.sendMessageForProducts %} hidden{% endif %}" id="noSendMessageForProducts{{ itemid }}" title="{{ __('This setting is disabled. Click here to enable it.') }}"></i>
                    </a>
                    <noscript><div id="noscriptSendMessageForProducts{{ itemid }}">
                        {% if abonnement.sendMessageForProducts %}
                            <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                        {% else %}
                            <i class="fa fa-times" title="{{ __('No') }}"></i>
                        {% endif %}
                    </div></noscript>
                </td>
                <td headers="hShowOptionOne" class="text-center">
                    {% set itemid = abonnement.createCompositeIdentifier() %}
                    <a id="toggleShowOptionOne{{ itemid }}" href="javascript:void(0);" class="muyourcity-ajax-toggle hidden" data-object-type="abonnement" data-field-name="showOptionOne" data-item-id="{{ itemid }}">
                        <i class="fa fa-check{% if not abonnement.showOptionOne %} hidden{% endif %}" id="yesShowOptionOne{{ itemid }}" title="{{ __('This setting is enabled. Click here to disable it.') }}"></i>
                        <i class="fa fa-times{% if abonnement.showOptionOne %} hidden{% endif %}" id="noShowOptionOne{{ itemid }}" title="{{ __('This setting is disabled. Click here to enable it.') }}"></i>
                    </a>
                    <noscript><div id="noscriptShowOptionOne{{ itemid }}">
                        {% if abonnement.showOptionOne %}
                            <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                        {% else %}
                            <i class="fa fa-times" title="{{ __('No') }}"></i>
                        {% endif %}
                    </div></noscript>
                </td>
                <td headers="hSendMessageToOptionOne" class="text-center">
                    {% set itemid = abonnement.createCompositeIdentifier() %}
                    <a id="toggleSendMessageToOptionOne{{ itemid }}" href="javascript:void(0);" class="muyourcity-ajax-toggle hidden" data-object-type="abonnement" data-field-name="sendMessageToOptionOne" data-item-id="{{ itemid }}">
                        <i class="fa fa-check{% if not abonnement.sendMessageToOptionOne %} hidden{% endif %}" id="yesSendMessageToOptionOne{{ itemid }}" title="{{ __('This setting is enabled. Click here to disable it.') }}"></i>
                        <i class="fa fa-times{% if abonnement.sendMessageToOptionOne %} hidden{% endif %}" id="noSendMessageToOptionOne{{ itemid }}" title="{{ __('This setting is disabled. Click here to enable it.') }}"></i>
                    </a>
                    <noscript><div id="noscriptSendMessageToOptionOne{{ itemid }}">
                        {% if abonnement.sendMessageToOptionOne %}
                            <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                        {% else %}
                            <i class="fa fa-times" title="{{ __('No') }}"></i>
                        {% endif %}
                    </div></noscript>
                </td>
                <td headers="hShowOptionTwo" class="text-center">
                    {% set itemid = abonnement.createCompositeIdentifier() %}
                    <a id="toggleShowOptionTwo{{ itemid }}" href="javascript:void(0);" class="muyourcity-ajax-toggle hidden" data-object-type="abonnement" data-field-name="showOptionTwo" data-item-id="{{ itemid }}">
                        <i class="fa fa-check{% if not abonnement.showOptionTwo %} hidden{% endif %}" id="yesShowOptionTwo{{ itemid }}" title="{{ __('This setting is enabled. Click here to disable it.') }}"></i>
                        <i class="fa fa-times{% if abonnement.showOptionTwo %} hidden{% endif %}" id="noShowOptionTwo{{ itemid }}" title="{{ __('This setting is disabled. Click here to enable it.') }}"></i>
                    </a>
                    <noscript><div id="noscriptShowOptionTwo{{ itemid }}">
                        {% if abonnement.showOptionTwo %}
                            <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                        {% else %}
                            <i class="fa fa-times" title="{{ __('No') }}"></i>
                        {% endif %}
                    </div></noscript>
                </td>
                <td headers="hSendMessageToOptionTwo" class="text-center">
                    {% set itemid = abonnement.createCompositeIdentifier() %}
                    <a id="toggleSendMessageToOptionTwo{{ itemid }}" href="javascript:void(0);" class="muyourcity-ajax-toggle hidden" data-object-type="abonnement" data-field-name="sendMessageToOptionTwo" data-item-id="{{ itemid }}">
                        <i class="fa fa-check{% if not abonnement.sendMessageToOptionTwo %} hidden{% endif %}" id="yesSendMessageToOptionTwo{{ itemid }}" title="{{ __('This setting is enabled. Click here to disable it.') }}"></i>
                        <i class="fa fa-times{% if abonnement.sendMessageToOptionTwo %} hidden{% endif %}" id="noSendMessageToOptionTwo{{ itemid }}" title="{{ __('This setting is disabled. Click here to enable it.') }}"></i>
                    </a>
                    <noscript><div id="noscriptSendMessageToOptionTwo{{ itemid }}">
                        {% if abonnement.sendMessageToOptionTwo %}
                            <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                        {% else %}
                            <i class="fa fa-times" title="{{ __('No') }}"></i>
                        {% endif %}
                    </div></noscript>
                </td>
                <td headers="hShowOptionThree" class="text-center">
                    {% set itemid = abonnement.createCompositeIdentifier() %}
                    <a id="toggleShowOptionThree{{ itemid }}" href="javascript:void(0);" class="muyourcity-ajax-toggle hidden" data-object-type="abonnement" data-field-name="showOptionThree" data-item-id="{{ itemid }}">
                        <i class="fa fa-check{% if not abonnement.showOptionThree %} hidden{% endif %}" id="yesShowOptionThree{{ itemid }}" title="{{ __('This setting is enabled. Click here to disable it.') }}"></i>
                        <i class="fa fa-times{% if abonnement.showOptionThree %} hidden{% endif %}" id="noShowOptionThree{{ itemid }}" title="{{ __('This setting is disabled. Click here to enable it.') }}"></i>
                    </a>
                    <noscript><div id="noscriptShowOptionThree{{ itemid }}">
                        {% if abonnement.showOptionThree %}
                            <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                        {% else %}
                            <i class="fa fa-times" title="{{ __('No') }}"></i>
                        {% endif %}
                    </div></noscript>
                </td>
                <td headers="hSendMessageToOptionThree" class="text-center">
                    {% set itemid = abonnement.createCompositeIdentifier() %}
                    <a id="toggleSendMessageToOptionThree{{ itemid }}" href="javascript:void(0);" class="muyourcity-ajax-toggle hidden" data-object-type="abonnement" data-field-name="sendMessageToOptionThree" data-item-id="{{ itemid }}">
                        <i class="fa fa-check{% if not abonnement.sendMessageToOptionThree %} hidden{% endif %}" id="yesSendMessageToOptionThree{{ itemid }}" title="{{ __('This setting is enabled. Click here to disable it.') }}"></i>
                        <i class="fa fa-times{% if abonnement.sendMessageToOptionThree %} hidden{% endif %}" id="noSendMessageToOptionThree{{ itemid }}" title="{{ __('This setting is disabled. Click here to enable it.') }}"></i>
                    </a>
                    <noscript><div id="noscriptSendMessageToOptionThree{{ itemid }}">
                        {% if abonnement.sendMessageToOptionThree %}
                            <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                        {% else %}
                            <i class="fa fa-times" title="{{ __('No') }}"></i>
                        {% endif %}
                    </div></noscript>
                </td>
                <td headers="hPositionOfAbo" class="text-right">
                    {{ abonnement.positionOfAbo }}
                </td>
                <td headers="hLocation" class="text-left">
                    {% if abonnement.location|default %}
                        <a href="{{ path('muyourcitymodule_location_' ~ routeArea ~ 'display', { 'id': abonnement.location.id, 'slug': abonnement.location.slug }) }}">{% spaceless %}
                          {{ abonnement.location|muyourcitymodule_formattedTitle }}
                        {% endspaceless %}</a>
                        <a id="locationItem{{ abonnement.id }}_rel_{{ abonnement.location.id }}Display" href="{{ path('muyourcitymodule_location_' ~ routeArea ~ 'display', {'id': abonnement.location.id, 'slug': abonnement.location.slug, 'raw': 1 }) }}" title="{{ __('Open quick view window')|e('html_attr') }}" class="muyourcity-inline-window hidden" data-modal-title="{{ abonnement.location|muyourcitymodule_formattedTitle|e('html_attr') }}"><span class="fa fa-id-card-o"></span></a>
                    {% else %}
                        {{ __('Not set.') }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr class="z-{{ routeArea == 'admin' ? 'admin' : 'data' }}tableempty">
                <td class="text-left" colspan="{% if routeArea == 'admin' %}20{% else %}19{% endif %}">
            {{ __('No abonnements found.') }}
              </td>
            </tr>
        {% endfor %}
        
            </tbody>
        </table>
        </div>
        
        {% if all != 1 and pager|default %}
            {{ pager({ rowcount: pager.amountOfItems, limit: pager.itemsPerPage, display: 'page', route: 'muyourcitymodule_abonnement_' ~ routeArea ~ 'view'}) }}
        {% endif %}
    {% if routeArea == 'admin' %}
            <fieldset>
                <label for="mUYourCityModuleAction" class="col-sm-3 control-label">{{ __('With selected abonnements') }}</label>
                <div class="col-sm-6">
                    <select id="mUYourCityModuleAction" name="action" class="form-control input-sm">
                        <option value="">{{ __('Choose action') }}</option>
                        <option value="delete" title="{{ __('Delete content permanently.') }}">{{ __('Delete') }}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="submit" value="{{ __('Submit') }}" class="btn btn-default btn-sm" />
                </div>
            </fieldset>
        </div>
    </form>
    {% endif %}

    {{ block('display_hooks') }}
</div>
{% endblock %}
{% block page_nav_links %}
    <p>
        {% if canBeCreated %}
            {% if hasPermission('MUYourCityModule:Abonnement:', '::', 'ACCESS_EDIT') %}
                {% set createTitle = __('Create abonnement') %}
                <a href="{{ path('muyourcitymodule_abonnement_' ~ routeArea ~ 'edit') }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
            {% endif %}
        {% endif %}
        {% if all == 1 %}
            {% set linkTitle = __('Back to paginated view') %}
            <a href="{{ path('muyourcitymodule_abonnement_' ~ routeArea ~ 'view') }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
        {% else %}
            {% set linkTitle = __('Show all entries') %}
            <a href="{{ path('muyourcitymodule_abonnement_' ~ routeArea ~ 'view', { all: 1 }) }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
        {% endif %}
    </p>
{% endblock %}
{% block display_hooks %}
    
    {# here you can activate calling display hooks for the view page if you need it #}
    {# % if routeArea != 'admin' %}
        {% set hooks = notifyDisplayHooks(eventName='muyourcitymodule.ui_hooks.abonnements.display_view', urlObject=currentUrlObject) %}
        {% for providerArea, hook in hooks %}
            {{ hook }}
        {% endfor %}
    {% endif % #}
{% endblock %}
