{# purpose of this template: inclusion template for managing related dishes #}
{% if displayMode is not defined or displayMode is empty %}
    {% set displayMode = 'choices' %}
{% endif %}
{% if tabs|default(false) == true %}
    <div role="tabpanel" class="tab-pane fade" id="tabDishes" aria-labelledby="dishesTab">
        <h3>{{ __('Dishes') }}</h3>
{% else %}
    <fieldset class="dishes">
{% endif %}
    <legend>{{ __('Dishes') }}</legend>
    {% if displayMode == 'choices' %}
        {{ form_row(attribute(form, alias)) }}
    {% elseif displayMode == 'autocomplete' %}
        {{ form_row(attribute(form, alias)) }}
        <div class="muyourcitymodule-relation-leftside">
            {{ include(
                '@MUYourCityModule/Dish/includeSelectItemListMany.html.twig',
                attribute(linkingItem, alias) is defined ? {items: attribute(linkingItem, alias)} : {}
            ) }}
        </div>
        <br style="clear: both" />
    {% endif %}
{% if tabs|default(false) == true %}
    </div>
{% else %}
    </fieldset>
{% endif %}
