{# purpose of this template: parts display view #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : (routeArea == 'admin' ? 'adminBase' : 'base') %}
{% extends 'MUYourCityModule::' ~ baseTemplate ~ '.html.twig' %}
{% block pageTitle %}{{ part.name }}{% endblock %}
{% block title %}
    {% set templateTitle = part.name %}
    {{ templateTitle|notifyFilters('muyourcitymodule.filter_hooks.parts.filter') }}
    {% set itemActions = knp_menu_get('MUYourCityModule:ItemActionsMenu:menu', [], { entity: part, area: routeArea, context: 'display' }) %}
    <div class="dropdown">
        <a id="itemActions{{ part.id }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> {{ __('Actions') }} <span class="caret"></span></a>
        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
    </div>
{% endblock %}
{% block admin_page_icon 'eye' %}
{% block content %}
    {% set isQuickView = app.request.query.getBoolean('raw', false) %}
    <div class="muyourcitymodule-part muyourcitymodule-display">
        
    <div class="row">
        <div class="col-sm-12">
        
        {% if part.imageOfPart is not empty %}
        <div id="imageOfPart">
            {% if part.imageOfPart is not empty and part.imageOfPartMeta|default %}
                        <a href="{{ part.imageOfPartUrl }}" title="{{ part|muyourcitymodule_formattedTitle|e('html_attr') }}"{% if part.imageOfPartMeta.isImage %} class="image-link"{% endif %}>
            {% if part.imageOfPartMeta.isImage %}
                {% set thumbOptions = attribute(thumbRuntimeOptions, 'partImageOfPart') %}
                <img src="{{ part.imageOfPart.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ part|muyourcitymodule_formattedTitle|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
            {% else %}
                {{ __('Download') }} ({{ part.imageOfPartMeta.size|muyourcitymodule_fileSize(part.imageOfPart.getPathname(), false, false) }})
            {% endif %}
            </a>
            {% else %}&nbsp;{% endif %}
        </div>
        {% endif %}
        
        {% if part.description is not empty %}
            <h4>{{ __('Description') }}</h4>
            {{ part.description|safeHtml }}
        {% endif %}
        <br style="clear: both;" />

    
    {% if locations|default %}
        {{ include(
            '@MUYourCityModule/Location/includeDisplayItemListManyOwn.html.twig',
            { items: locations, entity: 'part' }
        ) }}
    {% endif %}

    {#{ include('@MUYourCityModule/Helper/includeStandardFieldsDisplay.html.twig', { obj: part }) }#}

    {{ block('display_hooks') }}
        </div>
       {# <div class="col-sm-3">
            {{ block('related_items') }}
        </div>#}
    </div>
</div>
{% endblock %}
{% block related_items %}
    {#% if routeArea == 'admin' %}
        <h4>{{ __('Images of part') }}</h4>
    {% else %}
        <h3>{{ __('Images of part') }}</h3>
    {% endif %#}
    
    {% if routeArea != 'admin' %}
        <h4>{{ __('Locations') }}</h4>
    {% endif %}
    
    {#% if part.imagesOfPart|default %}
        {{ include(
            '@MUYourCityModule/ImageOfPart/includeDisplayItemListMany.html.twig',
            { items: part.imagesOfPart }
        ) }}
    {% endif %#}
    
    {#% set mayManage = hasPermission('MUYourCityModule:ImageOfPart:', '::', 'ACCESS_EDIT') %}
    {% if mayManage %}
        <p class="managelink">
            {% set createTitle = __('Create image of part') %}
            <a href="{{ path('muyourcitymodule_imageofpart_' ~ routeArea ~ 'edit', { part: part.id }) }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
        </p>
    {% endif %#}
    {% if routeArea == 'admin' %}
        <h4>{{ __('Locations') }}</h4>
    {% else %}
        <h3>{{ __('Locations') }}</h3>
    {% endif %}
    
    {#% if part.locations|default %}
        {{ include(
            '@MUYourCityModule/Location/includeDisplayItemListMany.html.twig',
            { items: part.locations }
        ) }}
    {% endif %#}
    
    {#% set mayManage = hasPermission('MUYourCityModule:Location:', '::', 'ACCESS_COMMENT') %}
    {% if mayManage %}
        <p class="managelink">
            {% set createTitle = __('Create location') %}
            <a href="{{ path('muyourcitymodule_location_' ~ routeArea ~ 'edit', { parts: part.id }) }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
        </p>
    {% endif %#}
{% endblock %}
{% block display_hooks %}
    {% set hooks = notifyDisplayHooks(eventName='muyourcitymodule.ui_hooks.parts.display_view', id=part.id, urlObject=currentUrlObject) %}
    {% for providerArea, hook in hooks if providerArea != 'provider.scribite.ui_hooks.editor' %}
        <h4>{{ providerArea }}</h4>
        {{ hook }}
    {% endfor %}
{% endblock %}
