{# purpose of this template: general base layout #}
{% block header %}
    {{ pageAddAsset('stylesheet', asset('jquery-ui/themes/base/jquery-ui.min.css')) }}
    {{ pageAddAsset('javascript', asset('magnific-popup/jquery.magnific-popup.min.js')) }}
    {{ pageAddAsset('stylesheet', asset('magnific-popup/magnific-popup.css')) }}
    {{ pageAddAsset('stylesheet', asset('bootstrap-jqueryui/bootstrap-jqueryui.min.css')) }}
    {{ pageAddAsset('javascript', asset('bootstrap-jqueryui/bootstrap-jqueryui.min.js')) }}
    {{ pageAddAsset('javascript', zasset('@MUYourCityModule:js/MUYourCityModule.js')) }}
    {{ pageAddAsset('javascript', zasset('@MUYourCityModule:js/MUYourCityModule.Geo.js')) }}
    {% if 'edit' in app.request.get('_route') %}
        {{ polyfill(['geolocation']) }}
    {% endif %}
{% endblock %}

{% block appTitle %}
    {{ moduleHeader('user', '', '', false, true, false, true) }}
{% endblock %}

{% block titleArea %}
    <h2>{% block title %}{% endblock %}</h2>
{% endblock %}
{{ pageSetVar('title', block('pageTitle')|default(block('title'))) }}

{{ include('@MUYourCityModule/Helper/includeModerationPanel.html.twig') }}

{{ showflashes() }}

{% block content %}{% endblock %}

{% block footer %}
{% endblock %}
