{# purpose of this template: services of location display view #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : (routeArea == 'admin' ? 'adminBase' : 'base') %}
{% extends 'MUYourCityModule::' ~ baseTemplate ~ '.html.twig' %}
{% block pageTitle %}{{ serviceOfLocation|muyourcitymodule_formattedTitle|default(__('Service of location')) }}{% endblock %}
{% block title %}
    {% set templateTitle = serviceOfLocation|muyourcitymodule_formattedTitle|default(__('Service of location')) %}
    {{ templateTitle|notifyFilters('muyourcitymodule.filter_hooks.servicesOflocation.filter') }}
    {% set itemActions = knp_menu_get('MUYourCityModule:ItemActionsMenu:menu', [], { entity: serviceOfLocation, area: routeArea, context: 'display' }) %}
    <div class="dropdown">
        <a id="itemActions{{ serviceOfLocation.id }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> {{ __('Actions') }} <span class="caret"></span></a>
        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
    </div>
{% endblock %}
{% block admin_page_icon 'eye' %}
{% block content %}
    {% set isQuickView = app.request.query.getBoolean('raw', false) %}
    <div class="muyourcitymodule-serviceoflocation muyourcitymodule-display">

    <div class="row">
        <div class="col-sm-9">
    <dl>
        {% if serviceOfLocation.name is not empty %}
            <dt>{{ __('Name') }}</dt>
            <dd>{{ serviceOfLocation.name }}</dd>
        {% endif %}
        {% if serviceOfLocation.description is not empty %}
            <dt>{{ __('Description') }}</dt>
            <dd>{{ serviceOfLocation.description|safeHtml }}</dd>
        {% endif %}
        {% if serviceOfLocation.iconForService is not empty %}
            <dt>{{ __('Icon for service') }}</dt>
            <dd>{{ serviceOfLocation.iconForService }}</dd>
        {% endif %}
        
    </dl>
    
    {% if serviceOfLocation.locations|default %}
        {{ include(
            '@MUYourCityModule/Location/includeDisplayItemListManyOwn.html.twig',
            { items: serviceOfLocation.locations }
        ) }}
    {% endif %}

    {% if routeArea == 'admin' %}
        {{ include('@MUYourCityModule/Helper/includeStandardFieldsDisplay.html.twig', { obj: serviceOfLocation }) }}
    {% endif %}
    
    {{ block('display_hooks') }}
        </div>
        <div class="col-sm-3">
            {{ block('related_items') }}
        </div>
    </div>
</div>
{% endblock %}
{% block related_items %}
    {% if routeArea == 'admin' %}
        <h4>{{ __('Locations') }}</h4>
    {% else %}
        <h3>{{ __('Locations') }}</h3>
    {% endif %}
    
    {#% if serviceOfLocation.locations|default %}
        {{ include(
            '@MUYourCityModule/Location/includeDisplayItemListManyOwn.html.twig',
            { items: serviceOfLocation.locations }
        ) }}
    {% endif %#}
    
    {% set mayManage = hasPermission('MUYourCityModule:Location:', '::', 'ACCESS_COMMENT') %}
    {% if mayManage %}
        <p class="managelink">
            {% set createTitle = __('Create location') %}
            <a href="{{ path('muyourcitymodule_location_' ~ routeArea ~ 'edit', { servicesofLocation: serviceOfLocation.id }) }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
        </p>
    {% endif %}
{% endblock %}
{% block display_hooks %}
    {% set hooks = notifyDisplayHooks(eventName='muyourcitymodule.ui_hooks.servicesOflocation.display_view', id=serviceOfLocation.id, urlObject=currentUrlObject) %}
    {% for providerArea, hook in hooks if providerArea != 'provider.scribite.ui_hooks.editor' %}
        <h4>{{ providerArea }}</h4>
        {{ hook }}
    {% endfor %}
{% endblock %}
