{# purpose of this template: services of location rss feed #}
<?xml version="1.0" encoding="{% set charset = pageGetVar('meta.charset') %}{% if charset == 'ISO-8859-15' %}ISO-8859-1{% else %}{{ charset }}{% endif %}" ?>
<rss version="2.0"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
    xmlns:admin="http://webns.net/mvcb/"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:content="http://purl.org/rss/1.0/modules/content/"
    xmlns:atom="http://www.w3.org/2005/Atom">
{#<rss version="0.92">#}
    <channel>
        <title>{{ __('Latest services of location') }}</title>
        <link>{{ app.request.getSchemeAndHttpHost() ~ app.request.getBasePath()|e }}</link>
        <atom:link href="{{ app.request.getSchemeAndHttpHost() ~ app.request.getPathInfo() }}" rel="self" type="application/rss+xml" />
        <description>{{ __('A direct feed showing the list of services of location') }} - {{ getModVar('ZConfig', 'slogan') }}</description>
        <language>{{ app.request.locale }}</language>
        {# commented out as imagepath is not defined and we can't know whether this logo exists or not
        <image>
            <title>{{ getModVar('ZConfig', 'sitename') }}</title>
            <url>{{ app.request.getSchemeAndHttpHost() ~ app.request.getBasePath()|e }}{{ imagepath }}/logo.jpg</url>
            <link>{{ app.request.getSchemeAndHttpHost() ~ app.request.getBasePath()|e }}</link>
        </image>
        #}
        <docs>http://blogs.law.harvard.edu/tech/rss</docs>
        <copyright>Copyright (c) {{ 'now'|date('Y') }}, {{ app.request.getSchemeAndHttpHost()|e }}</copyright>
        <webMaster>{{ pageGetVar('adminmail)|e }}</webMaster>
{% for serviceOfLocation in items %}
    {{ block('entry') }}
{% endfor %}
    </channel>
</rss>
{% block entry %}
    <item>
        {{ block('entry_content') }}
    </item>
{% endblock %}
{% block entry_content %}
    <title><![CDATA[{% if serviceOfLocation.updatedDate|default %}{{ serviceOfLocation.updatedDate|localizeddate('medium', 'short') }} - {% endif %}{{ serviceOfLocation|muyourcitymodule_formattedTitle|notifyFilters('muyourcitymodule.filterhook.servicesoflocation')|safeHtml }}]]></title>
    <link>{{ url('muyourcitymodule_serviceoflocation_' ~ routeArea ~ 'display', {'id': serviceOfLocation.getId()}) }}</link>
    <guid>{{ url('muyourcitymodule_serviceoflocation_' ~ routeArea ~ 'display', {'id': serviceOfLocation.getId()}) }}</guid>
    {% if serviceOfLocation.createdBy|default and serviceOfLocation.createdBy.getUid() > 0 %}
        {% set creatorAttributes = serviceOfLocation.createdBy.getAttributes() %}
        <author>{{ serviceOfLocation.createdBy.getEmail() }} ({{ creatorAttributes.get('realname')|default(creatorAttributes.get('name'))|default(serviceOfLocation.createdBy.getUname()) }})</author>
    {% endif %}
    <description>
        <![CDATA[
        {{ serviceOfLocation.description|replace({'<br>': '<br />'}) }}
        ]]>
    </description>
    {% if serviceOfLocation.createdDate|default %}
        <pubDate>{{ serviceOfLocation.createdDate|date('a, d b Y T +0100') }}</pubDate>
    {% endif %}
{% endblock %}
