{# purpose of this template: inclusion template for display of related branches #}
{% set removeImage = '<span class="fa fa-trash-o"></span>' %}

<input type="hidden" id="{{ idPrefix }}" name="{{ idPrefix }}" value="{% if items is defined and items is iterable %}{% for item in items %}{{ item.getKey() }}{% if not loop.last %},{% endif %}{% endfor %}{% endif %}" />
<input type="hidden" id="{{ idPrefix }}Mode" name="{{ idPrefix }}Mode" value="0" />

<ul id="{{ idPrefix }}ReferenceList">
{% if items is defined and items is iterable %}
{% for item in items %}
{% set idPrefixItem = idPrefix ~ 'Reference_' ~ item.getKey() %}
<li id="{{ idPrefixItem }}">
    {{ item|muyourcitymodule_formattedTitle }}
     <a id="{{ idPrefixItem }}Remove" href="javascript:mUYourCityRemoveRelatedItem('{{ idPrefix }}', '{{ item.getKey() }}');">{{ removeImage|raw }}</a>
    <br />
    {% if item.imageOfBranch is not empty and item.imageOfBranchMeta.isImage %}
        <img src="{{ item.imageOfBranch.getPathname()|imagine_filter('zkroot', relationThumbRuntimeOptions) }}" alt="{{ item|muyourcitymodule_formattedTitle|e('html_attr') }}" width="{{ relationThumbRuntimeOptions.thumbnail.size[0] }}" height="{{ relationThumbRuntimeOptions.thumbnail.size[1] }}" class="img-rounded" />
    {% endif %}
</li>
{% endfor %}
{% endif %}
</ul>
