{# Purpose of this template: Display one certain dish within an external context #}
{{ pageAddAsset('javascript', asset('magnific-popup/jquery.magnific-popup.min.js')) }}
{{ pageAddAsset('stylesheet', asset('magnific-popup/magnific-popup.css')) }}
{{ pageAddAsset('javascript', zasset('@MUYourCityModule:js/MUYourCityModule.js')) }}
<div id="dish{$dish.id}" class="muyourcitymodule-external-dish">
{% if displayMode == 'link' %}
    <p class="muyourcitymodule-external-link">
    <a href="{{ path('muyourcitymodule_dish_display', { 'id': dish.id }) }}" title="{{ dish|muyourcitymodule_formattedTitle|e('html_attr') }}">
    {{ dish|muyourcitymodule_formattedTitle|notifyFilters('yourcity.filter_hooks.dishes.filter')|safeHtml }}
    </a>
    </p>
{% endif %}
{% if hasPermission('MUYourCityModule::', '::', 'ACCESS_EDIT') %}
    {# for normal users without edit permission show only the actual file per default #}
    {% if displayMode == 'embed' %}
        <p class="muyourcitymodule-external-title">
            <strong>{{ dish|muyourcitymodule_formattedTitle|notifyFilters('yourcity.filter_hooks.dishes.filter')|safeHtml }}</strong>
        </p>
    {% endif %}
{% endif %}

{% if displayMode == 'link' %}
{% elseif displayMode == 'embed' %}
    <div class="muyourcitymodule-external-snippet">
        {% if dish.imageOfDish is not empty and dish.imageOfDishMeta|default %}
                    <a href="{{ dish.imageOfDishUrl }}" title="{{ dish|muyourcitymodule_formattedTitle|e('html_attr') }}"{% if dish.imageOfDishMeta.isImage %} class="image-link"{% endif %}>
        {% if dish.imageOfDishMeta.isImage %}
            {% set thumbOptions = attribute(thumbRuntimeOptions, 'dishImageOfDish') %}
            <img src="{{ dish.imageOfDish.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ dish|muyourcitymodule_formattedTitle|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
        {% else %}
            {{ __('Download') }} ({{ dish.imageOfDishMeta.size|muyourcitymodule_fileSize(dish.imageOfDish.getPathname(), false, false) }})
        {% endif %}
        </a>
        {% else %}&nbsp;{% endif %}
    </div>

    {# you can distinguish the context like this: #}
    {# % if source == 'contentType' %}
        ...
    {% elseif source == 'scribite' %}
        ...
    {% endif % #}

    {# you can enable more details about the item: #}
    {#
        <p class="muyourcitymodule-external-description">
            {% if dish.description is not empty %}{{ dish.description }}<br />{% endif %}
            {% if featureActivationHelper.isEnabled(constant('MU\\YourCityModule\\Helper\\FeatureActivationHelper::CATEGORIES'), 'dish') %}
                <dl class="category-list">
                {% for propName, catMapping in dish.categories %}
                    <dt>{{ propName }}</dt>
                    <dd>{{ catMapping.category.display_name[app.request.locale]|default(catMapping.category.name) }}</dd>
                {% endfor %}
                </dl>
            {% endif %}
        </p>
    #}
{% endif %}
</div>
